Repository EGI-Federation/documentation, pull requests merged in 2022-04, with the labels that each got.

#432 Improve_egi_check_in_api_v2_instructions
  content/en/users/aai/check-in/vos/_index.md
Labels: safe for preview, check-in

#433 Datahub: update OSs supported on tutorial page and add warning for memcached port
  content/en/providers/datahub/oneprovider/_index.md
  content/en/users/tutorials/vm-datahub/_index.md
Labels: safe for preview

#431 Add instruction for approve/deny petition
  content/en/users/aai/check-in/vos/_index.md
  content/en/users/aai/check-in/vos/check-in-approve-deny-petition.png
  content/en/users/aai/check-in/vos/check-in-notification-icon.png
  content/en/users/aai/check-in/vos/check-in-notification-message.png
  content/en/users/aai/check-in/vos/check-in-org-identities.png
  content/en/users/aai/check-in/vos/check-in-petition-view.png
Labels: check-in

#430 Change Account to Identity
  content/en/users/aai/check-in/linking/_index.md
  content/en/users/aai/check-in/linking/check-in-my-account.png
  content/en/users/aai/check-in/linking/check-in-my-identity.png
Labels: safe for preview, check-in

#425 adding dodas documentation
  content/en/users/compute/orchestration/_index.md
  content/en/users/compute/orchestration/dodas/_index.md
Labels: safe for preview

#434 Add Assurance information
  content/en/users/aai/check-in/vos/_index.md
  content/en/users/aai/check-in/vos/check-in-assurance-petition-view.png
Labels: safe for preview, check-in
