Repository EGI-Federation/documentation, pull requests merged in 2022-09, with the labels that each got.

#490 [Check-in] Add `client_secret` to Device Authorization Request
  content/en/providers/check-in/sp/_index.md
Labels: check-in

#500 configuration database: document account registration/access fix
  content/en/internal/configuration-database/access/_index.md
  content/en/internal/configuration-database/users-roles/managing-accounts/_index.md
Labels: safe for preview

#499 Reorganise pages under the providers section, as requested by Gergely.
  content/en/providers/_index.md
  content/en/providers/getting-started/_index.md
  content/en/providers/joining/_index.md
  content/en/providers/joining/core-service/_index.md
  content/en/providers/joining/federated-resource-centre/SLAs-Picture.png
  content/en/providers/joining/federated-resource-centre/SiteStatusFlow.png
  content/en/providers/joining/federated-resource-centre/_index.md
  content/en/providers/joining/new-provider/_index.md
  content/en/providers/joining/new-service/_index.md
  content/en/providers/joining/technology-provider/_index.md
  content/en/providers/operations-manuals/_index.md
  content/en/providers/operations-manuals/faq-hepspec06/_index.md
  content/en/providers/operations-manuals/integration-checklist/_index.md
  content/en/providers/operations-manuals/operations-start-guide/_index.md
Labels: safe for preview

#502 Update links under users, providers and internal sections
  content/en/internal/_index.md
  content/en/internal/helpdesk/account-and-privileges/_index.md
  content/en/internal/monitoring/_index.md
  content/en/internal/monitoring/service-information/_index.md
  content/en/internal/operations-portal/service-information/_index.md
  content/en/providers/joining/core-service/_index.md
  content/en/providers/joining/federated-resource-centre/_index.md
  content/en/providers/joining/new-provider/_index.md
  content/en/providers/joining/technology-provider/_index.md
  content/en/users/_index.md
  content/en/users/data/management/rucio/admin/_index.md
  content/en/users/data/management/rucio/getting-started/_index.md
  content/en/users/dev-env/binder/_index.md
  content/en/users/dev-env/notebooks/_index.md
  content/en/users/dev-env/notebooks/kernels/matlab/_index.md
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/cli/_index.md
Labels: safe for preview

#501 Add businesscategory
  content/en/users/aai/check-in/vos/_index.md
Labels: check-in

#498 REST_API_vo_info
  content/en/users/aai/check-in/vos/_index.md
Labels: safe for preview, check-in

#503 Added documentation for Subscribe to file events
  content/en/users/data/management/datahub/api/_index.md
  content/en/users/data/management/datahub/api/datahub-space-permissions.png
Labels: safe for preview

#504 [Check-in] Update Token Portal guide
  content/en/users/aai/check-in/obtaining-tokens/token-portal/_index.md
  content/en/users/aai/check-in/obtaining-tokens/token-portal/check-in-token-access-token-2.png
  content/en/users/aai/check-in/obtaining-tokens/token-portal/check-in-token-access-token.png
  content/en/users/aai/check-in/obtaining-tokens/token-portal/check-in-token-refresh-token.png
Labels: safe for preview, check-in
