Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

Fixed some typos (#263)
  content/en/about/concepts/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Addressed review comments
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Volume attach/detach on the fly
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Add indico and youtube links (#265)
  content/en/users/cloud-compute/ec3/_index.md
  content/en/users/cloud-compute/gpgpu/_index.md
  content/en/users/cloud-compute/im/_index.md
  content/en/users/cloud-compute/vmops/_index.md
  content/en/users/cloud-container-compute/_index.md
  content/en/users/datahub/_index.md
  content/en/users/datahub/links/_index.md
Owners: @enolfc, @andrea-manzi

disable length check for fedcloud command
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/gpgpu/_index.md
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

Removed "cloud" from generic description of online storage services
  content/en/users/online-storage/_index.md
Owners: @andrea-manzi

Update info for IISAS-FedCloud regarding GPU offerings (#267)
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

Minor rewording and typos
  content/en/users/online-storage/_index.md
Owners: @andrea-manzi

Typo
  content/en/users/online-storage/_index.md
Owners: @andrea-manzi

Added links to see details of a VM
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Added links to OpenStack services
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Corrected links to OpenStack docs to point to latest build, not a specific release
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Added individual line length exceptions for each shell example
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Make linter happy
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Initial tutorial template
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
  content/en/users/tutorials/template/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Fixed linter errors
  content/en/users/tutorials/template/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Revised online storage user documentation (#270)
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/cloud-compute/storage/_index.md
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

Added OpenStack page
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Shortened commands
  content/en/users/online-storage/object-storage/_index.md
Owners: @andrea-manzi

CLarified reference to OpenStack Swift service and CLI
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

Force link check again
  content/en/users/online-storage/object-storage/_index.md
Owners: @andrea-manzi

More concise tips for block storage
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Added Swift to list of OpenStack services
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Copy button on shell examples ignores prompt and command output
  config.toml
  static/js/clipboard.min.js
  static/js/egi.js
  static/js/prism.min.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Made code block Copy button more opaque
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Improvements to the Copy button
  static/js/prism.min.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Shell example Copy button only copies the command (#275)
  config.toml
  static/css/egi.css
  static/js/clipboard.min.js
  static/js/egi.js
  static/js/prism.min.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/users/cloud-compute/openstack/_index.md
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Update AUTHORS list
  AUTHORS
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update AUTHORS list (#276)
  AUTHORS
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated Object Storage commands (#274)
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

Initial revision
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
  content/en/users/high-throughput-compute/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @CatalinCondurache

Updated contribution guide
  content/en/about/_index.md
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/shortcodes/_index.md
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed linter errors
  content/en/about/contributing/shortcodes/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/internal/configuration-database/_index.md
  content/en/internal/configuration-database/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/helpdesk/_index.md
  content/en/internal/helpdesk/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/monitoring/_index.md
  content/en/internal/monitoring/_index.md
Owners: @gwarf, @paolini78

Addressed reviewer comments
  content/en/internal/accounting/_index.md
  content/en/internal/configuration-database/access/_index.md
  content/en/internal/configuration-database/service-info/_index.md
  content/en/internal/getting-started/_index.md
  content/en/internal/helpdesk/service-info/_index.md
  content/en/internal/monitoring/service-info/_index.md
Owners: @gwarf, @paolini78

Better emphasis of what it is
  content/en/internal/helpdesk/_index.md
Owners: @gwarf, @paolini78

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab
