Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

add table with compatrison between storages, add link to protocols
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
Owners: @andrea-manzi

Update content/en/users/online-storage/grid-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
Owners: @andrea-manzi

git: document git rebase
  content/en/about/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Check-in migration from wiki (#97)
  content/en/providers/check-in/_index.md
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/users/check-in/linking/_index.md
  content/en/users/check-in/linking/check-in-certificates-preview.png
  content/en/users/check-in/linking/check-in-discovery-igft.png
  content/en/users/check-in/linking/check-in-link-end.png
  content/en/users/check-in/linking/check-in-link-intro.png
  content/en/users/check-in/linking/check-in-link-new.png
  content/en/users/check-in/linking/check-in-list-organisational-ids.png
  content/en/users/check-in/linking/check-in-my-account.png
  content/en/users/check-in/linking/check-in-select-certificate.png
  content/en/users/check-in/signup/_index.md
  content/en/users/check-in/signup/check-in-profile-basic.png
  content/en/users/check-in/signup/check-in-profile-linked.png
  content/en/users/check-in/signup/check-in-profile-vos.png
  content/en/users/check-in/vos/_index.md
  content/en/users/check-in/vos/check-in-co-people-filter.png
  content/en/users/check-in/vos/check-in-co-person-role-path.png
  content/en/users/check-in/vos/check-in-group-members-tab.png
  content/en/users/check-in/vos/check-in-groups-actions.png
  content/en/users/check-in/vos/check-in-groups-drop-down.png
  content/en/users/check-in/vos/check-in-groups-expand-filter.png
  content/en/users/check-in/vos/check-in-join-example.png
  content/en/users/check-in/vos/check-in-manage-group-link.png
  content/en/users/check-in/vos/check-in-my-vo-population-result.png
  content/en/users/check-in/vos/check-in-my-vo-population.png
  content/en/users/check-in/vos/check-in-pending-approval.png
  content/en/users/check-in/vos/check-in-people-enroll.png
  content/en/users/check-in/vos/check-in-role-active.png
  content/en/users/check-in/vos/check-in-role-title.png
  content/en/users/check-in/vos/check-in-vo-affiliation.png
  content/en/users/check-in/vos/check-in-vo-population-add-group.png
  content/en/users/check-in/vos/check-in-vo-population-add.png
  content/en/users/check-in/vos/check-in-vo-population-remove.png
  content/en/users/check-in/vos/check-in-vo-population-removed.png
Owners: @vardizzo-lab

syntax: images, code excerpts and warnings
  content/en/about/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

README: link to contributing guide.
  README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md
  content/en/users/training/infrastructure/_index.md
Owners: @glarocca

syntax: git stash + git reset
  content/en/about/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

contributing: remember to save quickly Catalin ;)
  content/en/about/contributing/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: NNOUA
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

contributing: mention that users can create issues to ask for support
  content/en/about/contributing/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

contributing: add another link to the issue creation page
  content/en/about/contributing/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

PR template: link to contirubing guide
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

about: reorganising start page and links between section
  content/en/about/_index.md
  content/en/about/contributing/_index.md
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Review of online storage docs (#104)
  content/en/users/cloud-compute/storage/_index.md
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

concepts: link to EGI wiki for the glossary
  content/en/about/concepts/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

git: reorder headers
  content/en/about/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

syntax: prevent examples to be interpreted (using comments)
  content/en/about/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md (#106)
  content/en/users/training/infrastructure/_index.md
Owners: @glarocca

syntax: clean duplicated/useless examples about informative messages
  content/en/about/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

First test of GitHub actions
  .github/workflows/superlinter.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Add references to existing documentation in the EGI Wiki (#85)
  content/en/internal/_index.md
  content/en/internal/accounting/_index.md
  content/en/internal/configuration-database/_index.md
  content/en/internal/getting-started/_index.md
  content/en/internal/getting-support/_index.md
  content/en/internal/helpdesk/_index.md
  content/en/support/_index.md
Owners: @gwarf, @paolini78, @enolfc, @glarocca, @andrea-manzi

Import .mdlrc for mdl markdown linter
  .mdlrc
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Import mdl github actions
  .github/workflows/markdownlint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update of contributing guide and related pages. (#86)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  content/en/about/_index.md
  content/en/about/concepts/_index.md
  content/en/about/contributing/_index.md
  content/en/about/git/_index.md
  content/en/about/style/_index.md
  content/en/about/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: use double quotes when possible
  style.rb
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

GitHub actions: configure markdownlint
  .github/workflows/superlinter.yml
  .markdownlint.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Try to fix usage of the markdownlint conf file
  .github/linters/.markdownlint.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Add a header
  binaries/version.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Lint markdown
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Lint markdown
  content/en/users/training/events/_index.md
Owners: @glarocca

Lint markdown
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Lint markdown
  content/en/users/applications-on-demand/exoscale.md
Owners: @glarocca

Lint markdown
  content/en/users/applications-on-demand/chipster.md
Owners: @glarocca

Lint markdown
  content/en/users/check-in/vos/_index.md
Owners: @vardizzo-lab

Lint markdown
  content/en/users/check-in/linking/_index.md
Owners: @vardizzo-lab

Lint markdown
  content/en/users/check-in/voms/_index.md
Owners: @vardizzo-lab

Lint markdown
  content/en/users/check-in/signup/_index.md
Owners: @vardizzo-lab

Lint markdown
  content/en/users/data-transfer/_index.md
Owners: @andrea-manzi

Lint markdown
  content/en/users/data-transfer/clients/_index.md
Owners: @andrea-manzi

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab
