Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @glaroccca

Add Data Transfer user documentation (#52)
  content/en/users/datatransfer/.DS_Store
  content/en/users/datatransfer/WebFTS/_index.md
  content/en/users/datatransfer/WebFTS/webfts_delegate.png
  content/en/users/datatransfer/WebFTS/webfts_monitor.png
  content/en/users/datatransfer/WebFTS/webfts_submit.png
  content/en/users/datatransfer/_index.md
  content/en/users/datatransfer/api/_index.md
  content/en/users/datatransfer/clients/_index.md
  content/en/users/datatransfer/monitoring/.DS_Store
  content/en/users/datatransfer/monitoring/_index.md
  content/en/users/datatransfer/monitoring/ftsmon_details.png
  content/en/users/datatransfer/monitoring/ftsmon_optimizer.png
  content/en/users/datatransfer/monitoring/ftsmon_overview.png
Owners: @andrea-manzi

switch to sh for syntax highlighting
  content/en/users/datatransfer/WebFTS/_index.md
  content/en/users/datatransfer/api/_index.md
  content/en/users/datatransfer/clients/_index.md
  content/en/users/datatransfer/monitoring/_index.md
Owners: @andrea-manzi

fix merge
  content/en/users/datatransfer/api/_index.md
Owners: @andrea-manzi

Switch to sh for syntax highlighting, reorder sub-menu items
  content/en/users/datatransfer/WebFTS/_index.md
  content/en/users/datatransfer/api/_index.md
  content/en/users/datatransfer/clients/_index.md
  content/en/users/datatransfer/monitoring/_index.md
Owners: @andrea-manzi

Apply suggestions from code review
  content/en/users/datatransfer/api/_index.md
  content/en/users/datatransfer/clients/_index.md
Owners: @andrea-manzi

Switch to sh for syntax highlighting, reorder sub-menu items (#55)
  content/en/users/datatransfer/WebFTS/_index.md
  content/en/users/datatransfer/api/_index.md
  content/en/users/datatransfer/clients/_index.md
  content/en/users/datatransfer/monitoring/_index.md
Owners: @andrea-manzi

CONTRIBUTING: add some pointers to ease starting
  CONTRIBUTING.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

CONTRIBUTING: add some pointers to ease starting (#57)
  CONTRIBUTING.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix for comments in review
  content/en/users/fedcloud/solutions/ecas.md
Owners: @enolfc

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/operations/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glaroccca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/datatransfer/ @andrea-manzi

# FedCloud
content/*/*/fedcloud/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Training
content/*/users/training/ @glaroccca
