Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Rephrasing
  content/en/internal/helpdesk/_index.md
Owners: @gwarf, @paolini78

better emphasis
  content/en/support/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Separated paragraphs
  content/en/support/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated Support section (#279)
  content/en/support/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Do not run deploy step for forks, fixing #277.
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

wip
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/internal/accounting/_index.md
  content/en/internal/accounting/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/accounting/_index.md
  content/en/internal/accounting/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/getting-started/_index.md
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/monitoring/_index.md
  content/en/internal/monitoring/_index.md
Owners: @gwarf, @paolini78

Fixed review comments
  content/en/internal/_index.md
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

Updated subtitle of GOCDB page
  content/en/internal/configuration-database/_index.md
Owners: @gwarf, @paolini78

Fixed reviewer comments
  content/en/internal/accounting/service-info/_index.md
Owners: @gwarf, @paolini78

Tutorial template (#273)
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
  content/en/users/tutorials/template/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

wip
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/architecture/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/internal/configuration-database/access/_index.md
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Addressed reviewer comments
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Updated service infor tables, addressed review comments
  content/en/internal/accounting/service-info/_index.md
  content/en/internal/configuration-database/_index.md
  content/en/internal/configuration-database/access/_index.md
  content/en/internal/configuration-database/service-info/_index.md
  content/en/internal/helpdesk/service-info/_index.md
  content/en/internal/monitoring/service-info/_index.md
Owners: @gwarf, @paolini78

hack around broken link checker
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Corrected command
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Corrected volume command
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

wip
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed numbered list punctuation
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/configuration-database/access/_index.md
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Added writing guidelines
  content/en/about/contributing/style/_index.md
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed linter errors
  content/en/about/contributing/style/_index.md
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated to ask for UK English
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Do not run deploy step for forks, fixing #277. (#280)
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

FInished the getting started intro page
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

updated Users main page
  content/en/users/_index.md
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

removed draft flags
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Moved RFI to the top page
  content/en/internal/_index.md
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

added command line docs
  content/en/users/_index.md
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Added service info for Helpdesk support unit
  content/en/internal/accounting/service-info/_index.md
  content/en/internal/configuration-database/service-info/_index.md
  content/en/internal/helpdesk/service-info/_index.md
  content/en/internal/monitoring/service-info/_index.md
Owners: @gwarf, @paolini78

Added usage from code and scripts
  content/en/users/getting-started/cli/_index.md
  content/en/users/high-throughput-compute/_index.md
  content/en/users/tutorials/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @CatalinCondurache

Added exceptions
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Added Docker install for Macs
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Fixing linter errors
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Fixed linter errors
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Fixed linter errors
  content/en/users/high-throughput-compute/_index.md
Owners: @CatalinCondurache
