Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Update storage resource limits for notebooks (#306)
  content/en/users/notebooks/_index.md
  content/en/users/notebooks/data/_index.md
Owners: @enolfc, @andrea-manzi

removed open access example
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

deploy: 65157c2b6b4858cd60dd3742fb9d982f78345c94
  284/sitemap.xml
  284/users/getting-started/cli/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

fixed reviewer comments
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

delete_preview: fix job name.
  .github/workflows/delete_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

build: fix name and drop useless reference
  .github/workflows/build.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

addressed reviewer comments
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

got rid of FedCloud in page titles
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/task-force/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

typo
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

deploy: 65157c2b6b4858cd60dd3742fb9d982f78345c94
  284/sitemap.xml
  284/users/getting-started/cli/index.html
  284/users/getting-started/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Rename jobs/tasks (#301)
  .github/workflows/build.yml
  .github/workflows/build_pr_preview.yml
  .github/workflows/delete_pr_preview.yml
  .github/workflows/deploy_pr_preview.yml
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Added section Getting Started (#284)
  content/en/users/_index.md
  content/en/users/cloud-compute/_index.md
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
  content/en/users/getting-started/task-force/_index.md
  content/en/users/high-throughput-compute/_index.md
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/tutorials/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @CatalinCondurache

Updated style guide accoring to discussions on GitHub
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/shortcodes/_index.md
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated Service Provider Workflow and Guidelines to include the use of Federation Registry
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Update _index.md
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Import remaining manuals (#305)
  content/en/providers/operations-manuals/_index.md
  content/en/providers/operations-manuals/man01_how_to_publish_site_information/_index.md
  content/en/providers/operations-manuals/man04_tool_intervention_management/_index.md
  content/en/providers/operations-manuals/man05_top_and_site_bdii_high_availability/_index.md
  content/en/providers/operations-manuals/man05_top_and_site_bdii_high_availability/dnsupdater-igi.png
  content/en/providers/operations-manuals/man05_top_and_site_bdii_high_availability/nsupdater-ibergrid-2.png
  content/en/providers/operations-manuals/man05_top_and_site_bdii_high_availability/nsupdater-ibergrid.png
  content/en/providers/operations-manuals/man06_failover_for_mysql_grid_based_services/_index.md
  content/en/providers/operations-manuals/man07_voms_replication/_index.md
  content/en/providers/operations-manuals/man07_voms_replication/first_replica.sh
  content/en/providers/operations-manuals/man07_voms_replication/next_replicas.sh
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

Remove trailing slash
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Remove trailing slash
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Update content/en/about/contributing/_index.md
  content/en/about/contributing/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/about/contributing/shortcodes/_index.md
  content/en/about/contributing/shortcodes/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix URL
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fix URL
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

deploy: f1393ff47446116ad1612e2c0902e5a86adefc8c
  309/providers/check-in/index.xml
  309/providers/check-in/sp/index.html
  309/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated provider/check-in/sp (#309)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Update content/en/providers/_index.md
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Update content/en/providers/_index.md
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Removed exception sample for long lines
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

delete_preview: try to fix usage of EndBug/add-and-commit
  .github/workflows/delete_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix link
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

deploy: 03e65b4384a8c53f6a14f619e6fca89825c6c2d6
  308/providers/index.html
  308/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md (#308)
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Fixed linter errors
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed linter errors
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 145bbaf55d5864a11d88afabfb90fd3b45cb5bb2
  307/about/contributing/style/index.html
  307/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Improve service integration guide
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

delete_preview: try to fix usage of EndBug/add-and-commit (#310)
  .github/workflows/delete_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update EGI policy list for SPs
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Improve Check-in integration guide for Service Providers (#311)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab
