Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Initial revision
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @andrea-manzi

Typo
  content/en/users/high-throughput-compute/_index.md
Owners: @CatalinCondurache

Revised HTC user documentation (#264)
  content/en/users/high-throughput-compute/_index.md
Owners: @CatalinCondurache

Add indico and youtube links for VMOps
  content/en/users/cloud-compute/vmops/_index.md
Owners: @enolfc

prettier
  content/en/users/cloud-compute/vmops/_index.md
Owners: @enolfc

Same for GPGPUs
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

prettier
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

minor amendment
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

Same for Cloud Container Compute
  content/en/users/cloud-container-compute/_index.md
Owners: @enolfc

prettier
  content/en/users/cloud-container-compute/_index.md
Owners: @enolfc

Same for IM
  content/en/users/cloud-compute/im/_index.md
Owners: @enolfc

Same for EC3
  content/en/users/cloud-compute/ec3/_index.md
Owners: @enolfc

Link to marketplace updated to EOSC
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Adjusted weights
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @andrea-manzi

New page for block storage
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Added draft flags to all pages
  content/en/users/tutorials/_index.md
  content/en/users/tutorials/filetransfer-objectstorage/_index.md
  content/en/users/tutorials/notebooks-checkin/_index.md
  content/en/users/tutorials/notebooks-gridstorage/_index.md
  content/en/users/tutorials/notebooks-secure-blockstorage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Added Getting Started and Tutorial sections under User Guides (#261)
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/cli/_index.md
  content/en/users/tutorials/_index.md
  content/en/users/tutorials/filetransfer-gridstorage/_index.md
  content/en/users/tutorials/filetransfer-objectstorage/_index.md
  content/en/users/tutorials/notebooks-checkin/_index.md
  content/en/users/tutorials/notebooks-gridstorage/_index.md
  content/en/users/tutorials/notebooks-secure-blockstorage/_index.md
  content/en/users/tutorials/vm-blockstorage/_index.md
  content/en/users/tutorials/vm-datahub/_index.md
  content/en/users/tutorials/vm-dyndns/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update info for IISAS-FedCloud regarding GPU offerings
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

markdownlint
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

prettier
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

update fedcloud command for GPU flavors
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

Updated Service Provider Workflow and Guidelines to include the use of Federation Registry
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Same for DataHub
  content/en/users/datahub/_index.md
  content/en/users/datahub/links/_index.md
Owners: @andrea-manzi

prettier
  content/en/users/datahub/_index.md
  content/en/users/datahub/links/_index.md
Owners: @andrea-manzi

Create _index.md
  content/en/providers/opsman/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/opsman/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/opsman/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/opsman/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/opsman/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/opsman/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/opsman/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/opsman/_index.md
Owners: @gwarf, @paolini78

Added detailed guide for each block storage volume management command
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @andrea-manzi

Fixed linter errors
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @andrea-manzi

Fixed linter errors
  content/en/users/online-storage/_index.md
Owners: @andrea-manzi

Fixed linter errors
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
Owners: @andrea-manzi

Hacking around false linter errors
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
Owners: @andrea-manzi

Hacking around errors in link checker
  content/en/users/online-storage/grid-storage/_index.md
Owners: @andrea-manzi

Added instructions to block storage about auto-mounting the fs volume
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi

Fixed linter errors
  content/en/users/online-storage/block-storage/_index.md
Owners: @andrea-manzi
