Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

travis: rely on package.js to install nodejs dependencies
  .travis.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

README: test with Node.js 12.
  README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

markdown-link-check: ignore check-in LoA
  mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

github actions: push to a test branch
  .github/workflows/githubpages.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

npm: use npm ci to install in a clean slate
  .github/workflows/githubpages.yml
  README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

travis: use npm ci
  .travis.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

github actions: set up a custom cname
  .github/workflows/githubpages.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix linting issues
  content/en/users/check-in/vos/_index.md
  content/en/users/check-in/vos/check-in-vo-population-edit.png
  content/en/users/data-transfer/api/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/workload-manager/_index.md
Owners: @vardizzo-lab, @andrea-manzi, @CatalinCondurache

github actions: need a personal token to push to a remote repo
  .github/workflows/githubpages.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

github actions: personal token are note github tokens
  .github/workflows/githubpages.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix linting issues (#130)
  content/en/users/check-in/vos/_index.md
  content/en/users/check-in/vos/check-in-vo-population-edit.png
  content/en/users/data-transfer/api/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/workload-manager/_index.md
Owners: @vardizzo-lab, @andrea-manzi, @CatalinCondurache

GitHub actions: cleaning and update of checks (#129)
  .github/workflows/githubpages.yml
  .github/workflows/markdownlint.yml
  .gitignore
  .mdl.rb
  .mdlrc
  .travis.yml
  README.md
  mlc_config.json
  package-lock.json
  package.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Move VOMS inside of VO section of Check-in
  content/en/users/check-in/vos/voms/_index.md
  content/en/users/check-in/vos/voms/register_enmr_vo.png
  content/en/users/check-in/vos/voms/vo_registration.png
  content/en/users/data-transfer/api/_index.md
  content/en/users/getting-started/_index.md
  content/en/users/high-throughput-compute/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/workload-manager/_index.md
Owners: @vardizzo-lab, @andrea-manzi, @enolfc, @glarocca, @gwarf, @CatalinCondurache

Fix linter issues
  content/en/users/check-in/faq/_index.md
  content/en/users/check-in/vos/expressing-vo-information/_index.md
Owners: @vardizzo-lab

Update content/en/users/check-in/vos/expressing-vo-information/_index.md
  content/en/users/check-in/vos/expressing-vo-information/_index.md
Owners: @vardizzo-lab

Update content/en/users/check-in/vos/expressing-vo-information/_index.md
  content/en/users/check-in/vos/expressing-vo-information/_index.md
Owners: @vardizzo-lab

Handle review comments
  content/en/users/check-in/faq/_index.md
  content/en/users/workload-manager/_index.md
Owners: @vardizzo-lab, @CatalinCondurache

Fix broken link
  content/en/users/online-storage/grid-storage/_index.md
Owners: @andrea-manzi

New sections coming from wiki
  content/en/users/check-in/faq/_index.md
  content/en/users/check-in/vos/expressing-vo-information/_index.md
  content/en/users/check-in/vos/expressing-vo-information/vo-subgroup-membership.png
  content/en/users/check-in/vos/expressing-vo-information/vo-subgroup.png
Owners: @vardizzo-lab

Review comments
  content/en/users/check-in/faq/_index.md
Owners: @vardizzo-lab

github actions: only run on merge into master
  .github/workflows/githubpages.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

github actions: build PR using hugo
  .github/workflows/build.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

github actions: update title
  .github/workflows/githubpages.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

actions: rename deploy workflow
  .github/workflows/deploygithubpages.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Rename worflows
  .github/workflows/check-links.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Deploy using GitHub actions (#131)
  .github/workflows/build.yml
  .github/workflows/check-links.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

travis: dtop travis
  .travis.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: deploy to master branch
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

actions: clarify names
  .github/workflows/check-links.yml
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

lint: update names
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fine tune GitHub actions (#132)
  .github/workflows/check-links.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .travis.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

actions: no more run tests when commits are pushed to master, only build and deploy
  .github/workflows/build.yml
  .github/workflows/check-links.yml
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

actions: no more run tests when commits are pushed to master, only build and deploy (#133)
  .github/workflows/build.yml
  .github/workflows/check-links.yml
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

README: drop travis badge, add some actions badges.
  README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

README: clean readme.
  README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

README: drop travis badge, add some actions badges. (#134)
  README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

markdown-link-check: ignore some more check-in
  mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

markdown-link-check: ignore some more check-in links (#135)
  mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Add "User attributes" section (#124)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fix linter errors
  content/en/users/check-in/vos/voms/_index.md
Owners: @vardizzo-lab
