Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

Updated the ec3/documentation/_index.md to solve broken links
  content/en/users/cloud-compute/ec3/developers/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/ec3/developers/_index.md
  content/en/users/cloud-compute/ec3/developers/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/ec3/developers/_index.md
  content/en/users/cloud-compute/ec3/developers/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/ec3/developers/_index.md
  content/en/users/cloud-compute/ec3/developers/_index.md
Owners: @enolfc

[Ckeck-in] Update References in SP guide (#161)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Added instructions for EC3 developers (#160)
  content/en/users/cloud-compute/ec3/developers/_index.md
Owners: @enolfc

Use an app token
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Use an app token (#162)
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Add information about outgoing ports
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Use open URL for operations portal
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Add information about outgoing ports (#163)
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Some updates on OpenStack
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

No tabs please
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Add info about multiple idps
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Update aod.md
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Use key not cert
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Reformat files
  content/en/users/applications-on-demand/aod.md
  content/en/users/applications-on-demand/chipster.md
  content/en/users/applications-on-demand/exoscale.md
Owners: @glarocca

More fixes
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Fix link
  content/en/users/applications-on-demand/chipster.md
Owners: @glarocca

Move around files to avoid broken links
  content/en/users/applications-on-demand/chipster/_index.md
  content/en/users/applications-on-demand/chipster/chipster.png
  content/en/users/applications-on-demand/exoscale/_index.md
  content/en/users/applications-on-demand/exoscale/ec3-deployment.png
  content/en/users/applications-on-demand/exoscale/ec3-eosc-marketplace.png
  content/en/users/applications-on-demand/exoscale/ec3-order-request.png
  content/en/users/applications-on-demand/exoscale/ec3-service-options.png
  content/en/users/applications-on-demand/exoscale/ec3-wizard.png
  content/en/users/applications-on-demand/exoscale/exoscale-account-setup.png
  content/en/users/applications-on-demand/exoscale/exoscale-activation.png
  content/en/users/applications-on-demand/exoscale/exoscale-credentials.png
Owners: @glarocca

Reorganise files
  content/en/users/applications-on-demand/_index.md
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Reformat files (#169)
  content/en/users/applications-on-demand/_index.md
  content/en/users/applications-on-demand/aod.md
  content/en/users/applications-on-demand/chipster.md
  content/en/users/applications-on-demand/chipster/_index.md
  content/en/users/applications-on-demand/chipster/chipster.png
  content/en/users/applications-on-demand/exoscale.md
  content/en/users/applications-on-demand/exoscale/_index.md
  content/en/users/applications-on-demand/exoscale/ec3-deployment.png
  content/en/users/applications-on-demand/exoscale/ec3-eosc-marketplace.png
  content/en/users/applications-on-demand/exoscale/ec3-order-request.png
  content/en/users/applications-on-demand/exoscale/ec3-service-options.png
  content/en/users/applications-on-demand/exoscale/ec3-wizard.png
  content/en/users/applications-on-demand/exoscale/exoscale-account-setup.png
  content/en/users/applications-on-demand/exoscale/exoscale-activation.png
  content/en/users/applications-on-demand/exoscale/exoscale-credentials.png
Owners: @glarocca

Re-remove file
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Updated the FGSG url
  content/en/users/applications-on-demand/_index.md
Owners: @glarocca

Remove trailing space
  content/en/users/applications-on-demand/_index.md
Owners: @glarocca

Update aod.md (#167)
  content/en/users/applications-on-demand/_index.md
Owners: @glarocca

Add info about multiple idps (#166)
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

fix typo
  content/en/providers/getting-started/_index.md
Owners: @gwarf, @paolini78

Update content/en/providers/getting-started/_index.md
  content/en/providers/getting-started/_index.md
Owners: @gwarf, @paolini78

fix linter issues
  content/en/providers/getting-started/_index.md
Owners: @gwarf, @paolini78

fix typo (#171)
  content/en/providers/getting-started/_index.md
Owners: @gwarf, @paolini78

Fix issues
  content/en/providers/notebooks/_index.md
  content/en/providers/notebooks/architecture/_index.md
  content/en/providers/notebooks/operations/_index.md
Owners: @enolfc, @andrea-manzi

Fix linting issues
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Make linter happy
  content/en/providers/notebooks/operations/_index.md
Owners: @enolfc, @andrea-manzi

Fixes in data-transfer
  content/en/users/data-transfer/WebFTS/_index.md
  content/en/users/data-transfer/_index.md
  content/en/users/data-transfer/clients/_index.md
  content/en/users/data-transfer/monitoring/_index.md
Owners: @andrea-manzi

Fixes in datahub
  content/en/users/datahub/_index.md
  content/en/users/datahub/api/_index.md
  content/en/users/datahub/clients/_index.md
Owners: @andrea-manzi

Fixes in notebooks
  content/en/users/notebooks/_index.md
  content/en/users/notebooks/data/_index.md
  content/en/users/notebooks/faq/_index.md
  content/en/users/notebooks/integration/_index.md
  content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/training/_index.md
Owners: @enolfc, @andrea-manzi

Fixes in online-storage
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @andrea-manzi

more linter fixes
  content/en/providers/notebooks/architecture/_index.md
  content/en/users/data-transfer/clients/_index.md
  content/en/users/datahub/api/_index.md
  content/en/users/datahub/clients/_index.md
  content/en/users/notebooks/training/_index.md
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

Keep the fixes coming
  content/en/users/datahub/api/_index.md
Owners: @andrea-manzi

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab
