Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Update _index.md (#257)
  content/en/providers/cloud-compute/_index.md
Owners: @enolfc

Typos corrected
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Update _index.md
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Removed config database identity card (available in the wiki)
  content/en/internal/configuration-database/_index.md
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Impresonal getting started guide
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

Added service monitoring
  content/en/internal/accounting/_index.md
  content/en/internal/configuration-database/_index.md
  content/en/internal/configuration-database/access/_index.md
  content/en/internal/getting-started/_index.md
  content/en/internal/helpdesk/_index.md
  content/en/internal/monitoring/_index.md
Owners: @gwarf, @paolini78

Fixed list numbering
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Fixed list ordering lint check
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Fixed list ordering linter check
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Added getting-started and tutorial sections
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/cli/_index.md
  content/en/users/tutorials/_index.md
  content/en/users/tutorials/filetransfer-gridstorage/_index.md
  content/en/users/tutorials/filetransfer-objectstorage/_index.md
  content/en/users/tutorials/notebooks-checkin/_index.md
  content/en/users/tutorials/notebooks-gridstorage/_index.md
  content/en/users/tutorials/notebooks-secure-blockstorage/_index.md
  content/en/users/tutorials/vm-blockstorage/_index.md
  content/en/users/tutorials/vm-datahub/_index.md
  content/en/users/tutorials/vm-dyndns/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Marked getting started pages as draft
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Expiration policy guidelines for Check-in
  content/en/users/check-in/vos/_index.md
Owners: @vardizzo-lab

Expiration policy guidelines for Check-in (#259)
  content/en/users/check-in/vos/_index.md
Owners: @vardizzo-lab

Some fixes (#258)
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Update section About (#254)
  content/en/about/_index.md
  content/en/about/concepts/_index.md
  content/en/about/concepts/metadata.png
  content/en/about/concepts/page.png
  content/en/about/concepts/section.png
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/shortcodes/_index.md
  content/en/about/contributing/style/_index.md
  content/en/about/contributing/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/support/_index.md
  content/en/support/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/support/_index.md
  content/en/support/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update section Support (#256)
  content/en/support/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed some typos
  content/en/about/concepts/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Restored GOCDB identity card
  content/en/internal/accounting/_index.md
  content/en/internal/configuration-database/_index.md
  content/en/internal/getting-started/_index.md
  content/en/internal/helpdesk/_index.md
  content/en/internal/monitoring/_index.md
Owners: @gwarf, @paolini78

Fixed here links in Getting Started page
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

Moved GOCDB identity card to separate page
  content/en/internal/accounting/_index.md
  content/en/internal/accounting/service-info/_index.md
  content/en/internal/configuration-database/_index.md
  content/en/internal/configuration-database/service-info/_index.md
  content/en/internal/helpdesk/_index.md
  content/en/internal/helpdesk/service-info/_index.md
  content/en/internal/monitoring/_index.md
  content/en/internal/monitoring/service-info/_index.md
Owners: @gwarf, @paolini78

Fixed links
  content/en/internal/accounting/service-info/_index.md
  content/en/internal/configuration-database/service-info/_index.md
  content/en/internal/helpdesk/service-info/_index.md
  content/en/internal/monitoring/service-info/_index.md
Owners: @gwarf, @paolini78

Fixed link
  content/en/internal/helpdesk/service-info/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/accounting/_index.md
  content/en/internal/accounting/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/_index.md
  content/en/internal/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/getting-started/_index.md
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/getting-started/_index.md
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/monitoring/_index.md
  content/en/internal/monitoring/_index.md
Owners: @gwarf, @paolini78

Added back the forgotten link to Accountin Portal docs in wiki
  content/en/internal/accounting/_index.md
Owners: @gwarf, @paolini78

Update content/en/internal/getting-started/_index.md
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

Reverted to automatic list numbering
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Fixed linter errors
  content/en/internal/accounting/_index.md
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Reworded the Getting Started page so it is not just a list of links (as in the left-side tree)
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

Update content/en/users/getting-started/_index.md
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/tutorials/_index.md
  content/en/users/tutorials/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Added draft flag
  content/en/users/tutorials/filetransfer-gridstorage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Initial revision
  content/en/users/high-throughput-compute/_index.md
Owners: @CatalinCondurache

Fixed dangling link
  content/en/users/high-throughput-compute/_index.md
Owners: @CatalinCondurache

Fixed linter errors
  content/en/users/high-throughput-compute/_index.md
Owners: @CatalinCondurache
