Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

build_preview: update block style indicator to use spaces
  .github/workflows/build_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy_preview: no need for ${{}} in if
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix triggering of preview deploy workflow, do not run any deploy preview step for forks. (#298)
  .github/workflows/build_pr_preview.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Try to fix publishing of preview
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Cosmetics (#297)
  .github/workflows/deploy_pr_preview.yml
  content/en/providers/datahub/oneprovider/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Modify directory
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix directory
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Try to get the PR number
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update .github/workflows/deploy_pr_preview.yml
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Modify PR preview directory (#299)
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

build_preview: no more include .github/ directory
  .github/workflows/build_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy_preview: use a more meaningful name
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

build_preview: use a distinct job name
  .github/workflows/build_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Excluding .github dir is no more needed
  .github/workflows/build_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 674e3dfae85a1523885a07bd930388df1b09a4ae
  300/sitemap.xml
  300/users/notebooks/index.xml
  300/users/notebooks/matlab/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 674e3dfae85a1523885a07bd930388df1b09a4ae
  300/sitemap.xml
  300/users/notebooks/index.xml
  300/users/notebooks/matlab/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

man01: drop revision history, add document control heder, fix weight
  content/en/providers/operations-manuals/man01_how_to_publish_site_information/_index.md
Owners: @gwarf, @paolini78

Import MAN02
  content/en/providers/operations-manuals/_index.md
  content/en/providers/operations-manuals/man02_service_intervention_management/_index.md
Owners: @gwarf, @paolini78

Import HOWTO01
  content/en/providers/operations-manuals/howto01_site_certification_required_information/_index.md
Owners: @gwarf, @paolini78

Link to local howto01
  content/en/providers/operations-manuals/_index.md
Owners: @gwarf, @paolini78

deploy: 674e3dfae85a1523885a07bd930388df1b09a4ae
  302/providers/operations-manuals/index.html
  302/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Import HOWTO02
  content/en/providers/operations-manuals/howto02_site_certification_required_documentation/_index.md
Owners: @gwarf, @paolini78

Link to local howto02
  content/en/providers/operations-manuals/_index.md
Owners: @gwarf, @paolini78

whoami and proxy
  content/en/users/tutorials/filetransfer-gridstorage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Import HOWTO03
  content/en/providers/operations-manuals/_index.md
  content/en/providers/operations-manuals/howto03_site_certificatoin_giis_check/_index.md
Owners: @gwarf, @paolini78

Fix code block syntax
  content/en/providers/operations-manuals/howto03_site_certificatoin_giis_check/_index.md
Owners: @gwarf, @paolini78

deploy: 674e3dfae85a1523885a07bd930388df1b09a4ae
  302/providers/operations-manuals/howto03_site_certificatoin_giis_check/index.html
  302/providers/operations-manuals/index.xml
  302/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Import howto04
  content/en/providers/operations-manuals/_index.md
  content/en/providers/operations-manuals/howto03_site_certificatoin_giis_check/_index.md
  content/en/providers/operations-manuals/howto04_site_certification_manual_tests/_index.md
Owners: @gwarf, @paolini78

markdownlint: disable line-length and command-show-output as previously agreed
  .github/linters/.markdownlint.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

howto04: fix headers
  content/en/providers/operations-manuals/howto04_site_certification_manual_tests/_index.md
Owners: @gwarf, @paolini78

markdownlint: disable line-length and command-show-output as previously agreed (#303)
  .github/linters/.markdownlint.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 674e3dfae85a1523885a07bd930388df1b09a4ae
  302/providers/operations-manuals/howto04_site_certification_manual_tests/index.html
  302/providers/operations-manuals/index.xml
  302/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi
