Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

Addressed reviewer comments
  content/en/users/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Rephrase to match User Guides section
  content/en/internal/_index.md
Owners: @gwarf, @paolini78

Code block
  content/en/users/tutorials/filetransfer-gridstorage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Rephrase to match User Guides section (#289)
  content/en/internal/_index.md
Owners: @gwarf, @paolini78

Drop Hugo binaries and bump version used to build the documentation (#288)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  README.md
  binaries/version.md
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Add workflow trying to deploy to alternate repo from a PR (#287)
  .github/workflows/preview_pr.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Add some comment to the PR
  .github/workflows/preview_pr.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

preview_pr: deploy preview to local repository
  .github/workflows/preview_pr.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

preview_pr: deploy preview to local repository (#291)
  .github/workflows/preview_pr.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix location
  .github/workflows/preview_pr.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Try to make previews work with relative URLs
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

updating resources per user and adding link to notebooks
  content/en/users/notebooks/_index.md
Owners: @enolfc, @andrea-manzi

Add some comment to the PR (#290)
  .github/workflows/preview_pr.yml
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

contributing: short documentation on PR previews
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Reworded to apply to both Cloud and Grid resources
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

updating resources per user and adding link to notebooks (#293)
  content/en/users/notebooks/_index.md
Owners: @enolfc, @andrea-manzi

Update AUTHORS
  AUTHORS
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 43c887fc712f7bf0a7f51247317f26079ad657ad
  295/.github/PULL_REQUEST_TEMPLATE.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

preview_pr: customise commit message, purge previous files, set options explicitely
  .github/workflows/preview_pr.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Rename action for PR preview building
  .github/workflows/build_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Split preview deploy to a workflow
  .github/workflows/build_pr_preview.yml
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix workflow event name
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix access to issue_number
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Run build and deploy preview in all cases
  .github/workflows/build_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Bump hugo version
  .github/workflows/build_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Read Hugo version from a file
  .github/workflows/build.yml
  .github/workflows/build_pr_preview.yml
  .github/workflows/deploy.yml
  .github/workflows/hugo_version.txt
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix activity type
  .github/workflows/build_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Adapt check to also catch other cases
  .github/workflows/build_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Clean up pull request preview
  .github/workflows/delete_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix hugo-version retrieval
  .github/workflows/build.yml
  .github/workflows/build_pr_preview.yml
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update documentation on PR previews
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Preview cleaning is done
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update .github/workflows/deploy_pr_preview.yml
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update PR preview (purge older files, add documentation) (#292)
  .github/workflows/build.yml
  .github/workflows/build_pr_preview.yml
  .github/workflows/delete_pr_preview.yml
  .github/workflows/deploy_pr_preview.yml
  .github/workflows/hugo_version.txt
  .github/workflows/preview_pr.yml
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update AUTHORS (#295)
  AUTHORS
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Cosmetics
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Do not run any deploy step for forks.
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Drop prompt until changes on styles are implemented
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

deploy_preview: link to documentation, adapt check
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy_preview: link to github doc
  .github/workflows/deploy_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab
