Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Rename main to master (#212)
  .github/workflows/check-links.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  README.md
  config.toml
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

replace 1GB with 10GB
  content/en/users/notebooks/data/_index.md
Owners: @enolfc, @andrea-manzi

point to latest version of OpenStack docs
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

point to latest version of OpenStack docs
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Minor amedments in docs (#214)
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/notebooks/data/_index.md
Owners: @enolfc, @andrea-manzi

config.toml: we moved to main
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

config.toml: we moved to main (#216)
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Update _index.md (#218)
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

lint: upgrade to slim-v4
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update .github/workflows/lint.yml
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Object storage
  content/en/users/online-storage/object-storage/_index.md
Owners: @andrea-manzi

Fix links
  content/en/users/cloud-compute/ec3/cli/_index.md
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

Remove egigli and refresh token references
  content/en/providers/notebooks/operations/_index.md
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc, @andrea-manzi

More fixes
  content/en/users/cloud-compute/ec3/apps/htc/_index.md
  content/en/users/cloud-compute/ec3/cli/_index.md
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

Lint
  content/en/providers/notebooks/operations/_index.md
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

EGI notebooks authorizaton will be limited to vo.notebooks.egi.eu
  content/en/users/notebooks/_index.md
Owners: @enolfc, @andrea-manzi

Update content/en/users/notebooks/_index.md
  content/en/users/notebooks/_index.md
Owners: @enolfc, @andrea-manzi

EGI notebooks authorizaton will be limited to vo.notebooks.egi.eu (#224)
  content/en/users/notebooks/_index.md
Owners: @enolfc, @andrea-manzi

update link to VO list in Operations Portal
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

fix length
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

fix trailing space
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

linting plus one more link update
  content/en/users/_index.md
  content/en/users/cloud-compute/auth/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update link to VO list in Operations Portal (#225)
  content/en/users/_index.md
  content/en/users/cloud-compute/auth/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Fix missing whitespace
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Fix missing whitespace (#226)
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Use proper value for slim-v4
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix second occurence
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

lint: upgrade to slim-v4 (#219)
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/providers/notebooks/operations/_index.md
  content/en/providers/notebooks/operations/_index.md
Owners: @enolfc, @andrea-manzi

Update Check-in VOs screenshots
  content/en/users/check-in/vos/check-in-my-vo-population.png
  content/en/users/check-in/vos/check-in-people-enroll.png
Owners: @vardizzo-lab

Update Check-in VOs screenshots (#229)
  content/en/users/check-in/vos/check-in-my-vo-population.png
  content/en/users/check-in/vos/check-in-people-enroll.png
Owners: @vardizzo-lab

Update content/en/providers/notebooks/operations/_index.md
  content/en/providers/notebooks/operations/_index.md
Owners: @enolfc, @andrea-manzi

Updated users/cloud compute/openstack section
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Updated lines to match max line length
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

corrected trailing spaces
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/ec3/cli/_index.md
  content/en/users/cloud-compute/ec3/cli/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/ec3/apps/htc/_index.md
  content/en/users/cloud-compute/ec3/apps/htc/_index.md
Owners: @enolfc
