Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

Remove extra bracket
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add description for PKCE
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add `General Information` section
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add fix for trailing
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

Fix: no-trailing-spaces Trailing spaces [Expected: 0 or 2; Actual: 1]
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

EC3 review (#151)
  content/en/users/cloud-compute/ec3/_index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-container-1.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-container-2.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-end.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-endpoint.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-explore.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-front.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-instance.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-jupyter.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-jupyterhub.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-list.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-lrms.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-manage.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-oph_term.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-os.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-reduce.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-size.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-summary.png
  content/en/users/cloud-compute/ec3/apps/htc/_index.md
  content/en/users/cloud-compute/ec3/cli/_index.md
  content/en/users/cloud-compute/ec3/portal/_index.md
  content/en/users/cloud-compute/ec3/portal/ec3-endpoint.png
  content/en/users/cloud-compute/ec3/portal/ec3-lrms.png
  content/en/users/cloud-compute/ec3/portal/ec3-nodes.png
  content/en/users/cloud-compute/ec3/portal/ec3-portal.png
  content/en/users/cloud-compute/ec3/portal/ec3-size.png
Owners: @enolfc

Update Check-in guide for Service Providers (#152)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add new line after "markdownlint" tag
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/users/check-in/faq/_index.md
  content/en/users/check-in/vos/voms/_index.md
Owners: @vardizzo-lab

Remove "mailto" link
  content/en/users/check-in/vos/_index.md
Owners: @vardizzo-lab

Remove extra bracket
  content/en/providers/check-in/idp/_index.md
Owners: @vardizzo-lab

Remove unnecessary indent
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Edit numbered lists
  content/en/providers/check-in/sp/_index.md
  content/en/users/check-in/vos/_index.md
  content/en/users/check-in/vos/voms/_index.md
Owners: @vardizzo-lab

Use production endpoints in examples
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add some FTS info
  content/en/users/cloud-compute/storage/_index.md
Owners: @enolfc

Format Check-in files vol.2 (#153)
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/users/check-in/faq/_index.md
  content/en/users/check-in/vos/_index.md
  content/en/users/check-in/vos/voms/_index.md
Owners: @vardizzo-lab

Add some FTS info (#154)
  content/en/users/cloud-compute/storage/_index.md
Owners: @enolfc

Update _index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update _index.md (#155)
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Review users front page
  content/en/users/_index.md
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Shorten link
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Review users front page (#156)
  content/en/users/_index.md
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update OrgIdentity linking documentation
  content/en/users/check-in/linking/_index.md
  content/en/users/check-in/linking/check-in-link-end.png
  content/en/users/check-in/linking/check-in-link-new.png
  content/en/users/check-in/linking/check-in-list-organisational-ids.png
Owners: @vardizzo-lab

Update OrgIdentity linking documentation (#158)
  content/en/users/check-in/linking/_index.md
  content/en/users/check-in/linking/check-in-link-end.png
  content/en/users/check-in/linking/check-in-link-new.png
  content/en/users/check-in/linking/check-in-list-organisational-ids.png
Owners: @vardizzo-lab

[Check-in] Add header to Linking guide
  content/en/users/check-in/linking/_index.md
Owners: @vardizzo-lab

Styling fixes
  content/en/users/check-in/linking/_index.md
Owners: @vardizzo-lab

Update content/en/users/check-in/linking/_index.md
  content/en/users/check-in/linking/_index.md
Owners: @vardizzo-lab

Update content/en/users/check-in/linking/_index.md
  content/en/users/check-in/linking/_index.md
Owners: @vardizzo-lab

Check in add header to linking guide (#159)
  content/en/users/check-in/linking/_index.md
Owners: @vardizzo-lab

Added instructions for EC3 developers
  content/en/users/cloud-compute/ec3/developers/_index.md
Owners: @enolfc

[Ckeck-in] Update References in SP guide
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab
