Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Allow long lines in command output
  content/en/users/check-in/vos/voms/_index.md
Owners: @vardizzo-lab

Disable line length for title
  content/en/users/check-in/faq/_index.md
Owners: @vardizzo-lab

Merge both build and deploy
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Use just one workflow
  .github/workflows/build.yml
  .github/workflows/build_deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Use same naming schema
  .github/workflows/build-deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Drop references to Travis, reorganise sections.
  README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix the verbatim text type
  content/en/users/check-in/vos/voms/_index.md
Owners: @vardizzo-lab

Drop space at EOL
  README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Drop references to Travis, reorganise sections. (#137)
  README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Drop space at EOL, fix long lines
  content/en/users/cloud-compute/ec3/_index.md
Owners: @enolfc

Link to Torque GitHub repo instead of old broken page
  content/en/users/cloud-compute/ec3/_index.md
Owners: @enolfc

Add some more OCCI information
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Fix broken links
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Fix linting
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Add warning
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Add some more OCCI information (#139)
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Prettify me
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/ec3/_index.md
  content/en/users/cloud-compute/ec3/basics.md
  content/en/users/cloud-compute/ec3/ecas.md
  content/en/users/cloud-compute/ec3/htc.md
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/cloud-compute/storage/_index.md
  content/en/users/cloud-compute/vmi/_index.md
Owners: @enolfc

Move ecas to make md-link-check happy
  content/en/users/cloud-compute/ec3/ecas/_index.md
  content/en/users/cloud-compute/ec3/ecas/ecas-container-1.png
  content/en/users/cloud-compute/ec3/ecas/ecas-container-2.png
  content/en/users/cloud-compute/ec3/ecas/ecas-end.png
  content/en/users/cloud-compute/ec3/ecas/ecas-endpoint.png
  content/en/users/cloud-compute/ec3/ecas/ecas-explore.png
  content/en/users/cloud-compute/ec3/ecas/ecas-front.png
  content/en/users/cloud-compute/ec3/ecas/ecas-instance.png
  content/en/users/cloud-compute/ec3/ecas/ecas-jupyter.png
  content/en/users/cloud-compute/ec3/ecas/ecas-jupyterhub.png
  content/en/users/cloud-compute/ec3/ecas/ecas-list.png
  content/en/users/cloud-compute/ec3/ecas/ecas-lrms.png
  content/en/users/cloud-compute/ec3/ecas/ecas-manage.png
  content/en/users/cloud-compute/ec3/ecas/ecas-oph_term.png
  content/en/users/cloud-compute/ec3/ecas/ecas-os.png
  content/en/users/cloud-compute/ec3/ecas/ecas-reduce.png
  content/en/users/cloud-compute/ec3/ecas/ecas-size.png
  content/en/users/cloud-compute/ec3/ecas/ecas-summary.png
Owners: @enolfc

Fix more lint errors
  content/en/users/cloud-compute/ec3/basics.md
  content/en/users/cloud-compute/ec3/ecas/_index.md
Owners: @enolfc

Prettify more docs
  content/en/users/cloud-compute/_index.md
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/ec3/basics.md
  content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/federation/_index.md
  content/en/users/cloud-compute/storage/_index.md
  content/en/users/cloud-compute/vmops/_index.md
Owners: @enolfc

Fix link
  content/en/users/cloud-compute/federation/_index.md
Owners: @enolfc

Line length fixes
  content/en/users/cloud-compute/federation/_index.md
Owners: @enolfc

Fix linting issues
  content/en/users/cloud-compute/vmops/_index.md
Owners: @enolfc

.github: align with template-repository
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE.md
  .github/linters/.flake8
  .github/linters/mlc_config.json
  .github/workflows/check-links.yml
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

github actions: align on:
  .github/workflows/build.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

.github: align with template-repository (#144)
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE.md
  .github/linters/.flake8
  .github/linters/mlc_config.json
  .github/workflows/build.yml
  .github/workflows/check-links.yml
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Prettify me (#142)
  content/en/users/cloud-compute/_index.md
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/ec3/_index.md
  content/en/users/cloud-compute/ec3/basics.md
  content/en/users/cloud-compute/ec3/ecas.md
  content/en/users/cloud-compute/ec3/ecas/_index.md
  content/en/users/cloud-compute/ec3/ecas/ecas-container-1.png
  content/en/users/cloud-compute/ec3/ecas/ecas-container-2.png
  content/en/users/cloud-compute/ec3/ecas/ecas-end.png
  content/en/users/cloud-compute/ec3/ecas/ecas-endpoint.png
  content/en/users/cloud-compute/ec3/ecas/ecas-explore.png
  content/en/users/cloud-compute/ec3/ecas/ecas-front.png
  content/en/users/cloud-compute/ec3/ecas/ecas-instance.png
  content/en/users/cloud-compute/ec3/ecas/ecas-jupyter.png
  content/en/users/cloud-compute/ec3/ecas/ecas-jupyterhub.png
  content/en/users/cloud-compute/ec3/ecas/ecas-list.png
  content/en/users/cloud-compute/ec3/ecas/ecas-lrms.png
  content/en/users/cloud-compute/ec3/ecas/ecas-manage.png
  content/en/users/cloud-compute/ec3/ecas/ecas-oph_term.png
  content/en/users/cloud-compute/ec3/ecas/ecas-os.png
  content/en/users/cloud-compute/ec3/ecas/ecas-reduce.png
  content/en/users/cloud-compute/ec3/ecas/ecas-size.png
  content/en/users/cloud-compute/ec3/ecas/ecas-summary.png
  content/en/users/cloud-compute/ec3/htc.md
  content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/federation/_index.md
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/cloud-compute/storage/_index.md
  content/en/users/cloud-compute/vmi/_index.md
  content/en/users/cloud-compute/vmops/_index.md
Owners: @enolfc

Fix linting issues
  content/en/providers/cloud-compute/_index.md
  content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/faq/_index.md
  content/en/providers/cloud-compute/opennebula/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/registration/_index.md
  content/en/providers/cloud-compute/requirements/_index.md
  content/en/providers/cloud-compute/validation/_index.md
Owners: @enolfc

Missing check-in docs (#121)
  content/en/users/check-in/faq/_index.md
  content/en/users/check-in/voms/_index.md
  content/en/users/check-in/vos/expressing-vo-information/_index.md
  content/en/users/check-in/vos/expressing-vo-information/vo-subgroup-membership.png
  content/en/users/check-in/vos/expressing-vo-information/vo-subgroup.png
  content/en/users/check-in/vos/voms/_index.md
  content/en/users/check-in/vos/voms/register_enmr_vo.png
  content/en/users/check-in/vos/voms/vo_registration.png
  content/en/users/data-transfer/api/_index.md
  content/en/users/getting-started/_index.md
  content/en/users/high-throughput-compute/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/workload-manager/_index.md
Owners: @vardizzo-lab, @andrea-manzi, @enolfc, @glarocca, @gwarf, @CatalinCondurache

Fix end of file
  content/en/users/cloud-compute/ec3/_index.md
Owners: @enolfc

Update _index.md (#126)
  content/en/users/cloud-compute/ec3/_index.md
Owners: @enolfc

Only use the main support section
  content/en/providers/getting-support/_index.md
  content/en/support/_index.md
  content/en/users/getting-support/_index.md
Owners: @gwarf, @paolini78, @enolfc, @glarocca, @andrea-manzi

Use a mailto link
  content/en/support/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix linting
  content/en/providers/cloud-compute/_index.md
  content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/opennebula/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/registration/_index.md
  content/en/providers/cloud-compute/validation/_index.md
Owners: @enolfc

Add argo nagios as will fail SSL checks
  .github/linters/mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix links
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc
