Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Update aod.md (#112)
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

updated gitignore
  .gitignore
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

added DS_Store
  .gitignore
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

removed unneeded gitignore
  .gitignore
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md
  content/en/users/check-in/_index.md
Owners: @vardizzo-lab

removed existing DS_Store file
  .gitignore
  content/en/providers/datahub/.DS_Store
  content/en/providers/datahub/oneprovider/.DS_Store
  content/en/users/data-transfer/.DS_Store
  content/en/users/data-transfer/monitoring/.DS_Store
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md (#114)
  content/en/users/check-in/_index.md
Owners: @vardizzo-lab

Does nested list look better?
  content/en/users/datahub/_index.md
Owners: @andrea-manzi

updated gitignore (#113)
  .gitignore
  content/en/providers/datahub/.DS_Store
  content/en/providers/datahub/oneprovider/.DS_Store
  content/en/users/data-transfer/.DS_Store
  content/en/users/data-transfer/monitoring/.DS_Store
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md
  content/en/users/getting-support/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update _index.md
  content/en/providers/getting-support/_index.md
Owners: @gwarf, @paolini78

Add references to https://datahub.egi.eu/
  content/en/users/datahub/_index.md
  content/en/users/datahub/api/_index.md
  content/en/users/datahub/clients/_index.md
  content/en/users/datahub/usecases/_index.md
Owners: @andrea-manzi

Update intro text
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Changed Check-in link to EGI documentation
  content/en/users/datahub/api/_index.md
Owners: @andrea-manzi

index: update link to contributing guide
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

index: description of sections
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update aod.md
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Update homepage (#117)
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update aod.md
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Update _index.md (#115)
  content/en/users/getting-support/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update aod.md (#119)
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Update aod.md (#118)
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Update _index.md (#116)
  content/en/providers/getting-support/_index.md
Owners: @gwarf, @paolini78

Datahub patch 1 (#120)
  content/en/users/datahub/_index.md
  content/en/users/datahub/api/_index.md
  content/en/users/datahub/clients/_index.md
  content/en/users/datahub/usecases/_index.md
Owners: @andrea-manzi

getting started providers: route to various places
  content/en/providers/getting-started/_index.md
Owners: @gwarf, @paolini78

Differentiate Check-in for SP and IdP
  content/en/providers/getting-started/_index.md
Owners: @gwarf, @paolini78

Add details for user attributes
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

getting started providers: route to various places (#123)
  content/en/providers/getting-started/_index.md
Owners: @gwarf, @paolini78

You don't see me
  content/en/providers/getting-started/_index.md
Owners: @gwarf, @paolini78

Fixes based on change requests
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

github actions: add superlinter but ignoring errors
  .github/linters/.markdownlint.json
  .github/workflows/superlinter.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

superlinter: ignore ruby code
  .github/workflows/superlinter.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

super-linter: only check new files, filter what can be linted
  .github/workflows/superlinter.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

super-linter: enforce a check on the changed files, and avoid errors on existing content
  .github/workflows/superlinter.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

super-linter: fix the two different linting tasks
  .github/workflows/superlinter.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

super-linter: rename the task, drop some useless comments
  .github/workflows/superlinter.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

markdownlint: MD002 has been superseed by MD041
  .github/linters/.markdownlint.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Import mdl github action
  .github/workflows/markdownlint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md
  content/en/users/cloud-compute/ec3/_index.md
Owners: @enolfc

github actions: Add a link checker
  .github/workflows/markdown-link-check.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi
