Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Moved FedCloud taskforce here from Cloud Compute main page
  content/en/users/cloud-compute/_index.md
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/task-force/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Minor improvements
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/task-force/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Typo
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Typos
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

wip
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Added acknowledgment for the English writing guidelines source
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update section Internal Services (#255)
  content/en/internal/_index.md
  content/en/internal/accounting/_index.md
  content/en/internal/accounting/service-info/_index.md
  content/en/internal/configuration-database/_index.md
  content/en/internal/configuration-database/access/_index.md
  content/en/internal/configuration-database/service-info/_index.md
  content/en/internal/getting-started/_index.md
  content/en/internal/helpdesk/_index.md
  content/en/internal/helpdesk/service-info/_index.md
  content/en/internal/monitoring/_index.md
  content/en/internal/monitoring/service-info/_index.md
Owners: @gwarf, @paolini78

Added link to CC license
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Added support for Windows prompt (>) in shell examples
  static/js/prism.min.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Guidelines for writing content in English (#283)
  content/en/about/contributing/style/_index.md
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Typo
  content/en/about/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Added support for Windows prompt (>) in shell examples (#285)
  static/js/prism.min.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Initial tutoria commit
  content/en/users/tutorials/filetransfer-gridstorage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Rename Section
  content/en/providers/operations-manuals/_index.md
  content/en/providers/opsman/_index.md
Owners: @gwarf, @paolini78

Include man01
  content/en/providers/operations-manuals/man01.md
Owners: @gwarf, @paolini78

Rename page and link to it
  content/en/providers/operations-manuals/_index.md
  content/en/providers/operations-manuals/man01_how_to_publish_site_information.md
Owners: @gwarf, @paolini78

man01: add prompt
  content/en/providers/operations-manuals/man01_how_to_publish_site_information.md
Owners: @gwarf, @paolini78

Address linter reports
  content/en/providers/operations-manuals/man01_how_to_publish_site_information.md
Owners: @gwarf, @paolini78

man01: remove some useless information
  content/en/providers/operations-manuals/man01_how_to_publish_site_information.md
Owners: @gwarf, @paolini78

man01: fix headers levels
  content/en/providers/operations-manuals/man01_how_to_publish_site_information.md
Owners: @gwarf, @paolini78

man01: remove useless exclusion
  content/en/providers/operations-manuals/man01_how_to_publish_site_information.md
Owners: @gwarf, @paolini78

man01: backtick some var names
  content/en/providers/operations-manuals/man01_how_to_publish_site_information.md
Owners: @gwarf, @paolini78

man01: skip link checks until it has been clarified how to handle/update this howto
  content/en/providers/operations-manuals/man01_how_to_publish_site_information.md
Owners: @gwarf, @paolini78

man01: use HTTPS URLs, use example.com that is already having an exception, redirect to CRIC instead of dead rebus endpoint.
  content/en/providers/operations-manuals/man01_how_to_publish_site_information.md
Owners: @gwarf, @paolini78

operations-manuals: link to the wiki page
  content/en/providers/operations-manuals/_index.md
Owners: @gwarf, @paolini78

man01: try to have a fix working for markdown-link-check
  content/en/providers/operations-manuals/_index.md
Owners: @gwarf, @paolini78

Addressed reviewer comments
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/task-force/_index.md
  content/en/users/high-throughput-compute/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @CatalinCondurache

Update content/en/users/getting-started/_index.md
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

man01: work around markdown link check limitations
  content/en/providers/operations-manuals/man01_how_to_publish_site_information/_index.md
Owners: @gwarf, @paolini78

man01: use only one row for policy group information
  content/en/providers/operations-manuals/man01_how_to_publish_site_information/_index.md
Owners: @gwarf, @paolini78

man01: drop non existing email, shorten statement
  content/en/providers/operations-manuals/man01_how_to_publish_site_information/_index.md
Owners: @gwarf, @paolini78

Fixed linter errors
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/task-force/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Add workflow trying to deploy to alternate repo from a PR
  .github/workflows/preview_pr.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

preview_pr: output to public/{PR}
  .github/workflows/preview_pr.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Bump version used to build the documentation
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  binaries/version.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update documenation about installing and using Hugo
  README.md
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Adding a new section for manuals and How Tos. (#269)
  content/en/providers/operations-manuals/_index.md
  content/en/providers/operations-manuals/man01_how_to_publish_site_information/_index.md
Owners: @gwarf, @paolini78

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update content/en/users/_index.md
  content/en/users/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf
