Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

deploy: 296a01d8647fdd9ea1eb85aef218e126204cc706
  307/about/contributing/style/index.html
  307/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated style guide according to discussions on GitHub (#307)
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/shortcodes/_index.md
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Resolve tabx scroll bug (#314)
  config.toml
  content/en/users/getting-started/cli/_index.md
  layouts/partials/navbar.html
  layouts/shortcodes/tabpanex.html
  package.json
  static/js/egi.js
  static/js/prism.js
  static/js/prism.min.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

OpenStack tip to quickly get all dashboards (#312)
  content/en/about/contributing/shortcodes/_index.md
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated examples for fedcloudclient returning shell commands to set env vars (#313)
  content/en/users/getting-started/cli/_index.md
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Missed a pip option to enclose n backticks
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Removed command to set VO as that is platform specific
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Typo
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Typos and minor fixes (#315)
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update transfer
  content/en/users/tutorials/filetransfer-gridstorage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Use production Check-in
  content/en/providers/cloud-compute/configuration/_index.md
Owners: @enolfc

Add mapping.json info
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Fix file name
  content/en/providers/cloud-compute/configuration/_index.md
Owners: @enolfc

Prettify
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Fix tabs
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

No PR without multiple linter fixes
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

integration fixes (#316)
  content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

update fedcloud command
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

Viet's suggestion
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

Try to find syntax for configuring MD013 exceptions
  .github/linters/.markdownlint.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Try to find syntax for configuring MD013 exceptions (#318)
  .github/linters/.markdownlint.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

super-linter: log traces. Disable unused check to save time.
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

super-linter: debug runner.
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

super-linter: try to fix "You are not currently on a branch" error.
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

File Transfer with grid storage
  content/en/users/tutorials/filetransfer-gridstorage/VAPOR-VO_detail.png
  content/en/users/tutorials/filetransfer-gridstorage/VAPOR-home.png
  content/en/users/tutorials/filetransfer-gridstorage/VAPOR-storage.png
  content/en/users/tutorials/filetransfer-gridstorage/WebFTS-credential_delegation.png
  content/en/users/tutorials/filetransfer-gridstorage/WebFTS-submit_transfer.png
  content/en/users/tutorials/filetransfer-gridstorage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Removed long lines
  content/en/users/tutorials/filetransfer-gridstorage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

linter: add back the check on all code base to help debugging the linting of long lines
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

clarify text for fedcloudclient command
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

super-linter: only set ACTIONS_RUNNER_DEBUG. Drop unused linter on all files
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

link check: update checkout to ensure it always works properly on PRs
  .github/workflows/check-links.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update fedcloudclient command for the discovery of GPUs (#317)
  .github/workflows/check-links.yml
  .github/workflows/lint.yml
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi
