Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

Update content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Change image alternate texts
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-infra-io.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-infra-server.png
Owners: @enolfc

Remove old imgs
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-infra-dashboard-io.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-infra-dashboard-server.png
Owners: @enolfc

Clarify usage of lists (#200)
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

ECAS update (#198)
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-application-dashboard.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-infra-io.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-infra-server.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-jupyter.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-space.png
  content/en/users/cloud-compute/ec3/apps/ecas/grafana-login.png
Owners: @enolfc

Update link to EGI glossary
  content/en/about/concepts/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update link to EGI glossary (#204)
  content/en/about/concepts/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix DIRAC web portal port (#201)
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

gocdb: update license and privacy policy
  content/en/internal/configuration-database/_index.md
Owners: @gwarf, @paolini78

gocdb: point to helpdesk doc
  content/en/internal/configuration-database/_index.md
Owners: @gwarf, @paolini78

Initial inclusion of an ID card for GOCDB (#188)
  content/en/internal/configuration-database/_index.md
Owners: @gwarf, @paolini78

Rename "Entitlements" to "Groups"
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add description for "Capabilities"
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add description for "GOCDB roles"
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Change claim name for LoA
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Rename 'Level of Assurance' to 'Identity Assurance'
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Format code with Prettier
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add dots in header numbering
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Replace code block lang `vim` with `text`
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fix 'User Attributes' attribute numbering
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fix examples for entitlements
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

update onedata version
  content/en/users/datahub/clients/_index.md
Owners: @andrea-manzi

Description for GOCDB roles (#206)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fix heading size
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fix heading size (#208)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Try to avoid duplication
  content/en/users/datahub/clients/_index.md
Owners: @andrea-manzi

Added Network Requirements for OneProvider
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

update onedata version (#207)
  content/en/users/datahub/clients/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Added Network Requirements for OneProvider (#209)
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

fix reference to old version of the client
  content/en/users/datahub/clients/_index.md
Owners: @andrea-manzi

fix reference to old version of the client (#210)
  content/en/users/datahub/clients/_index.md
Owners: @andrea-manzi

Rename main to master
  .github/workflows/check-links.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  README.md
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Rename main to master in content
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab
