Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @sebastian-luna-valero, @vardizzo-lab

Use https links
  content/en/internal/accounting/service-information/_index.md
  content/en/internal/collaboration-tools/mailing-lists/_index.md
  content/en/internal/getting-started/_index.md
  content/en/internal/monitoring/_index.md
Owners: @gwarf, @paolini78

Replace more http links by https
  content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/openstack/accounting.md
  content/en/providers/cloud-compute/validation/_index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
  content/en/providers/joining/technology-provider/_index.md
  content/en/providers/operations-manuals/howto03_site_certificatoin_giis_check/_index.md
  content/en/providers/operations-manuals/man05_top_and_site_bdii_high_availability/_index.md
  content/en/providers/operations-manuals/man06_failover_for_mysql_grid_based_services/_index.md
  content/en/providers/rod/overview/_index.md
Owners: @enolfc, @gwarf, @paolini78

Use https links
  content/en/providers/check-in/sp/_index.md
  content/en/providers/operations-manuals/faq-hepspec06/_index.md
  content/en/providers/operations-manuals/howto01_using_igtf_ca_distribution/_index.md
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @vardizzo-lab, @gwarf, @paolini78

Replace more http links by https
  content/en/users/aai/check-in/vos/voms/_index.md
  content/en/users/compute/cloud-compute/appdb/_index.md
  content/en/users/compute/cloud-compute/auth/_index.md
  content/en/users/compute/cloud-compute/dynamic-dns/_index.md
  content/en/users/compute/cloud-compute/images/_index.md
  content/en/users/compute/high-throughput-compute/_index.md
  content/en/users/compute/high-throughput-compute/querying-information-system/_index.md
  content/en/users/compute/orchestration/ec3/_index.md
  content/en/users/compute/orchestration/ec3/apps/_index.md
  content/en/users/compute/orchestration/ec3/apps/ecas/_index.md
  content/en/users/compute/orchestration/ec3/developers/_index.md
  content/en/users/compute/orchestration/im/_index.md
  content/en/users/compute/orchestration/im/cli/_index.md
  content/en/users/compute/orchestration/workload-manager/_index.md
  content/en/users/data/management/datahub/file-management/_index.md
  content/en/users/data/management/datahub/links/_index.md
  content/en/users/dev-env/notebooks/_index.md
  content/en/users/dev-env/notebooks/integration/_index.md
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/architecture/_index.md
  content/en/users/training/_index.md
  content/en/users/tutorials/htc-job-submission/_index.md
Owners: @vardizzo-lab, @enolfc, @andrea-manzi, @sebastian-luna-valero, @glarocca, @gwarf

Fix link to renamed page
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

Ops Portal VO page is protected
  .github/linters/mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 56c4eb7818076339844e7860ec2870cf6906717b
  544/providers/operations-manuals/index.xml
  544/providers/operations-manuals/man09_accounting_data_publishing/index.html
  544/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix some obsolete links
  content/en/users/compute/cloud-compute/_index.md
Owners: @enolfc

Fix some obsolete links
  content/en/internal/getting-started/_index.md
Owners: @gwarf, @paolini78

Address issue with check github.com links, see https://github.com/tcort/markdown-link-check/issues/201.
  .github/linters/mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 56c4eb7818076339844e7860ec2870cf6906717b
  544/internal/getting-started/index.html
  544/sitemap.xml
  544/users/compute/cloud-compute/index.html
  544/users/compute/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix some obsolete links
  content/en/users/compute/cloud-compute/_index.md
  content/en/users/compute/orchestration/ec3/apps/_index.md
Owners: @enolfc

deploy: 56c4eb7818076339844e7860ec2870cf6906717b
  544/sitemap.xml
  544/users/compute/cloud-compute/index.html
  544/users/compute/index.xml
  544/users/compute/orchestration/ec3/apps/index.html
  544/users/compute/orchestration/ec3/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix broken link
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Address issue with check github.com links, see https://github.com/tcort/markdown-link-check/issues/201.
  .github/linters/mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 56c4eb7818076339844e7860ec2870cf6906717b
  544/sitemap.xml
  544/users/getting-started/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix broken link, including left over char
  content/en/users/compute/orchestration/ec3/apps/ecas/_index.md
Owners: @enolfc

Drop link pointing to a dead page.
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Fix link to NBIS stuff
  content/en/users/compute/cloud-compute/_index.md
Owners: @enolfc

Add files via upload
  content/en/users/getting-started/openstack/dashboard-login-check-partb.png
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Add files via upload
  content/en/users/getting-started/openstack/dashboard-login-check-partb.png
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Update _index.md
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Update screenshot to login with OpenStack Horizon (#562)
  content/en/users/getting-started/openstack/_index.md
  content/en/users/getting-started/openstack/dashboard-login-check-partb.png
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

add site-specific docs
  content/en/users/compute/cloud-compute/sites/_index.md
Owners: @enolfc

simplify grep+awk
  content/en/users/compute/cloud-container-compute/docker/_index.md
Owners: @enolfc

sudo vi /etc/docker/daemon.json
  content/en/users/compute/cloud-container-compute/docker/_index.md
Owners: @enolfc

add prompt
  content/en/users/compute/cloud-container-compute/docker/_index.md
Owners: @enolfc

add prompt
  content/en/users/compute/cloud-container-compute/docker/_index.md
Owners: @enolfc

generalize site-specific docs
  content/en/users/service-providers/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Apply suggestions from code review
  content/en/users/service-providers/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

add suggestion
  content/en/users/service-providers/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Add site-specific docs (#563)
  content/en/users/compute/cloud-container-compute/docker/_index.md
  content/en/users/service-providers/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Adding storage import configuration
  content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/storage-import-01.png
Owners: @andrea-manzi

Formatted
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Adding usecases and requirements to Rucio
  content/en/users/data/management/rucio/_index.md
Owners: @andrea-manzi

Updated link to EGI Check-in
  content/en/users/data/management/rucio/_index.md
Owners: @andrea-manzi

updated spelling and re-wrote archive paragraph
  content/en/users/data/management/rucio/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Update content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Internal services
content/en/internal/ @gwarf @paolini78

# Providers
content/en/providers/ @gwarf @paolini78

# Users
content/en/users/ @enolfc @glarocca @andrea-manzi @gwarf @sebastian-luna-valero

# Storage-related services
content/en/users/data/ @andrea-manzi
content/en/providers/datahub/ @andrea-manzi

# dev-env
content/en/users/dev-env/ @enolfc

# FedCloud
content/en/users/compute/ @enolfc
content/en/providers/cloud-compute/ @enolfc

# Notebooks
content/en/users/dev-env/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/providers/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/dev-env/binder/ @enolfc @andrea-manzi @sebastian-luna-valero

# Training
content/en/users/training/ @glarocca

# Tutorials
content/en/users/tutorials/ @enolfc @sebastian-luna-valero

# Workload Manager
content/en/users/compute/orchestration/workload-manager/ @enolfc

# Check-in 
content/en/users/aai/ @vardizzo-lab
content/en/providers/check-in/ @vardizzo-lab
