Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @sebastian-luna-valero, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Internal services
content/en/internal/ @gwarf @paolini78

# Providers
content/en/providers/ @gwarf @paolini78

# Users
content/en/users/ @enolfc @glarocca @andrea-manzi @gwarf @sebastian-luna-valero

# Storage-related services
content/en/users/data/ @andrea-manzi
content/en/providers/datahub/ @andrea-manzi

# dev-env
content/en/users/dev-env/ @enolfc

# FedCloud
content/en/users/compute/ @enolfc
content/en/providers/cloud-compute/ @enolfc

# Notebooks
content/en/users/dev-env/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/providers/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/dev-env/binder/ @enolfc @andrea-manzi @sebastian-luna-valero

# Training
content/en/users/training/ @glarocca

# Tutorials
content/en/users/tutorials/ @enolfc @sebastian-luna-valero

# Workload Manager
content/en/users/compute/orchestration/workload-manager/ @enolfc

# Check-in 
content/en/users/aai/ @vardizzo-lab
content/en/providers/check-in/ @vardizzo-lab

Rephrased the required sentence
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

Added Perun documentation section (#398)
  content/en/users/aai/check-in/vos/perun/_index.md
Owners: @vardizzo-lab

Adding usecases and requirements to Rucio (#565)
  content/en/users/data/management/rucio/_index.md
Owners: @andrea-manzi

Fix formatting
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add instructions for client credentials flow
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add configuration example for Keycloak RP
  content/en/providers/check-in/sp/_index.md
  content/en/providers/check-in/sp/oidc-examples-keycloak-add-oidc-idp-1.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-add-oidc-idp-2.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-idp.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-oidc-eduperson-entitlement-mapper.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-oidc-idp-advanced.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-oidc-idp-oidc.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-oidc-voperson-id-mapper.png
Owners: @vardizzo-lab

Create section for example OIDC client configurations
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add references to Keycloak SP docs
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add configuration example for Keycloak SP
  content/en/providers/check-in/sp/_index.md
  content/en/providers/check-in/sp/saml-examples-keycloak-add-saml-idp-1.png
  content/en/providers/check-in/sp/saml-examples-keycloak-add-saml-idp-2.png
  content/en/providers/check-in/sp/saml-examples-keycloak-idp.png
  content/en/providers/check-in/sp/saml-examples-keycloak-saml-edupersonentitlement-mapper.png
  content/en/providers/check-in/sp/saml-examples-keycloak-saml-idp-advanced.png
  content/en/providers/check-in/sp/saml-examples-keycloak-saml-idp-saml-setting.png
  content/en/providers/check-in/sp/saml-examples-keycloak-saml-vopersonid-mapper.png
Owners: @vardizzo-lab

Update link to SURF dashboard
  content/en/users/aai/check-in/faq/_index.md
Owners: @vardizzo-lab

Update link to check-in service
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/users/aai/check-in/_index.md
  content/en/users/compute/cloud-compute/_index.md
  content/en/users/getting-started/_index.md
Owners: @vardizzo-lab, @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Update _index.md
  content/en/providers/datahub/oneprovider/_index.md
Owners: @andrea-manzi

deploy: e30d832f3dd6ecfcef311781f0ccb0d907cb5d91
  564/providers/datahub/index.xml
  564/providers/datahub/oneprovider/index.html
  564/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Uniformize EGI service names/titles
  content/en/users/data/management/data-transfer/_index.md
  content/en/users/data/management/data-transfer/api/_index.md
  content/en/users/data/management/datahub/api/_index.md
  content/en/users/data/management/datahub/clients/_index.md
Owners: @andrea-manzi

Reorder sections
  content/en/users/machine-learning/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Architecture, GUI, API
  content/en/users/security/_index.md
  content/en/users/security/secrets-store/_index.md
  content/en/users/security/secrets-store/api/_index.md
  content/en/users/security/secrets-store/architecture/_index.md
  content/en/users/security/secrets-store/architecture/sstore-design.png
  content/en/users/security/secrets-store/gui/_index.md
  content/en/users/security/secrets-store/gui/vault-create-secret.png
  content/en/users/security/secrets-store/gui/vault-home-directory.png
  content/en/users/security/secrets-store/gui/vault-homes.png
  content/en/users/security/secrets-store/gui/vault-login-oidc.png
  content/en/users/security/secrets-store/gui/vault-main-window.png
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Storage import (#564)
  content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/datahub/oneprovider/storage-import-01.png
Owners: @andrea-manzi

Add info bars
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

Format action description from bullet list to header
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

Add request body example for VO membership update
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

Language
  content/en/users/security/secrets-store/architecture/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Added missing prompt
  content/en/about/contributing/shortcodes/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Documented CLI
  content/en/users/security/secrets-store/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Added deletion to CLI docs
  content/en/users/security/secrets-store/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Typo
  content/en/users/security/secrets-store/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Fixd link
  content/en/users/security/secrets-store/api/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Fixed fake link checks
  content/en/users/security/secrets-store/gui/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Fixed link
  content/en/users/security/secrets-store/api/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Added clarification
  content/en/users/security/secrets-store/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Language
  content/en/users/security/secrets-store/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Fixed linter terminology
  content/en/users/security/secrets-store/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Fixed linter errors
  content/en/users/security/secrets-store/_index.md
  content/en/users/security/secrets-store/cli/_index.md
  content/en/users/security/secrets-store/gui/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Update content/en/users/security/secrets-store/cli/_index.md
  content/en/users/security/secrets-store/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Review changes
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

fix
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

deploy: 228298e755ac19a1be40831f3f200a57e0ebf45e
  560/sitemap.xml
  560/users/aai/check-in/vos/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

fix id to ID typo
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

fix id to ID typo
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

fix id to ID typo
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

Language
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi
