Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Lint markdown
  content/en/users/check-in/vos/_index.md
Owners: @vardizzo-lab

Lint markdown
  content/en/users/check-in/voms/_index.md
Owners: @vardizzo-lab

Lint markdown
  content/en/users/data-transfer/clients/_index.md
Owners: @andrea-manzi

Lint markdown
  content/en/users/data-transfer/clients/_index.md
Owners: @andrea-manzi

Lint markdown
  content/en/users/cloud-compute/ec3/basics.md
  content/en/users/cloud-container-compute/k8s.md
  content/en/users/data-transfer/api/_index.md
  content/en/users/datahub/clients/_index.md
Owners: @enolfc, @andrea-manzi

Lint markdown
  content/en/users/datahub/api/_index.md
Owners: @andrea-manzi

Lint markdown
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Lint markdown
  content/en/users/online-storage/_index.md
Owners: @andrea-manzi

Lint markdown
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

Lint markdown
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Lint markdown
  content/en/users/cloud-compute/ec3/basics.md
Owners: @enolfc

Lint markdown
  content/en/users/cloud-compute/ec3/htc.md
Owners: @enolfc

Lint markdown
  content/en/users/cloud-compute/federation/_index.md
Owners: @enolfc

Lint markdown
  content/en/_index.md
  content/en/providers/check-in/sp/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @vardizzo-lab

Lint markdown
  content/en/providers/check-in/idp/_index.md
Owners: @vardizzo-lab

Lint markdown
  content/en/providers/notebooks/architecture/_index.md
Owners: @enolfc, @andrea-manzi

Lint markdown
  content/en/providers/cloud-compute/registration/_index.md
Owners: @enolfc

Lint markdown
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Lint markdown
  content/en/providers/cloud-compute/opennebula/_index.md
Owners: @enolfc

Lint markdown
  content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/validation/_index.md
Owners: @enolfc

Lint markdown
  content/en/internal/configuration-database/access/_index.md
Owners: @gwarf, @paolini78

Lint markdown
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Lint markdown
  README.md
  style.rb
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Lint markdown
  content/en/users/check-in/voms/_index.md
  content/en/users/check-in/vos/_index.md
  content/en/users/cloud-container-compute/k8s.md
Owners: @vardizzo-lab, @enolfc

Lint markdown
  content/en/users/datahub/api/_index.md
  content/en/users/datahub/clients/_index.md
Owners: @andrea-manzi

Lint markdown
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Lint markdown
  content/en/providers/cloud-compute/configuration/_index.md
Owners: @enolfc

Lint markdown
  content/en/providers/notebooks/operations/_index.md
Owners: @enolfc, @andrea-manzi

Update aod.md
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Update content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/configuration/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/configuration/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/configuration/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/configuration/_index.md
Owners: @enolfc

Update aod.md (#109)
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Update aod.md
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

Update _index.md
  content/en/users/datahub/_index.md
Owners: @andrea-manzi

Update aod.md
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca

fix formatting
  content/en/users/datahub/_index.md
Owners: @andrea-manzi

Update _index.md (#111)
  content/en/users/datahub/_index.md
Owners: @andrea-manzi

Update aod.md (#110)
  content/en/users/applications-on-demand/aod.md
Owners: @glarocca
