Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Add subpage for Infrastructure Manager (#242)
  content/en/users/cloud-compute/federation/_index.md
  content/en/users/cloud-compute/gpgpu/_index.md
  content/en/users/cloud-compute/im/_index.md
Owners: @enolfc

updated last updated info of pages
  i18n/de.toml
  i18n/en.toml
  i18n/es.toml
  i18n/et.toml
  i18n/fr.toml
  i18n/hu.toml
  i18n/it.toml
  i18n/ja.toml
  i18n/ko.toml
  i18n/nl.toml
  i18n/no.toml
  i18n/pl.toml
  i18n/pt-br.toml
  i18n/ru.toml
  i18n/tr.toml
  i18n/zh.toml
  layouts/partials/page-meta-lastmod.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

fixed double hr at end of subpages
  layouts/partials/section-index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Typos and style update in About section
  content/en/about/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Added icons to top menu
  content/en/_index.md
  content/en/about/_index.md
  content/en/internal/_index.md
  content/en/providers/_index.md
  content/en/support/_index.md
  content/en/users/_index.md
  layouts/partials/section-index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78

Updated search placeholder text
  config.toml
  content/en/about/_index.md
  content/en/users/_index.md
  i18n/de.toml
  i18n/en.toml
  i18n/es.toml
  i18n/et.toml
  i18n/fr.toml
  i18n/hu.toml
  i18n/it.toml
  i18n/ja.toml
  i18n/ko.toml
  i18n/nl.toml
  i18n/no.toml
  i18n/pl.toml
  i18n/pt-br.toml
  i18n/ru.toml
  i18n/tr.toml
  i18n/zh.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Reduced font size for normal 100% zoom reading
  assets/scss/_variables_project.scss
  static/css/tags.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Added repo stats to footer
  config.toml
  i18n/en.toml
  layouts/partials/footer.html
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Added github stats to the footer's dev links
  i18n/de.toml
  i18n/es.toml
  i18n/et.toml
  i18n/fr.toml
  i18n/hu.toml
  i18n/it.toml
  i18n/nl.toml
  i18n/no.toml
  i18n/pl.toml
  i18n/pt-br.toml
  i18n/ru.toml
  i18n/tr.toml
  layouts/partials/footer.html
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed sizes of top navbar
  assets/scss/_variables_project.scss
  layouts/partials/navbar.html
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed landing page blocks
  content/en/_index.md
  layouts/shortcodes/blocks/feature.html
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed styling on the page TOC
  content/en/_index.md
  i18n/de.toml
  i18n/en.toml
  i18n/es.toml
  i18n/et.toml
  i18n/fr.toml
  i18n/hu.toml
  i18n/it.toml
  i18n/ja.toml
  i18n/ko.toml
  i18n/nl.toml
  i18n/no.toml
  i18n/pl.toml
  i18n/pt-br.toml
  i18n/ru.toml
  i18n/tr.toml
  i18n/zh.toml
  layouts/partials/footer.html
  layouts/partials/page-meta-links.html
  layouts/partials/toc.html
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixes for PR
  content/en/_index.md
  content/en/users/cloud-compute/openstack/_index.md
  layouts/partials/footer.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

FIxed line lengths for linter
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixes for linter in PR
  assets/scss/_variables_project.scss
  layouts/partials/footer.html
  layouts/partials/hooks/head-end.html
  layouts/partials/navbar.html
  layouts/partials/page-meta-lastmod.html
  layouts/partials/page-meta-links.html
  layouts/partials/section-index.html
  layouts/partials/tags.html
  layouts/partials/toc.html
  layouts/shortcodes/blocks/feature.html
  layouts/shortcodes/tabs.html
  static/css/egi.css
  static/css/tabs.css
  static/css/tags.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

More fixes for linter in PR
  static/css/egi.css
  static/css/tabs.css
  static/css/tags.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Removed doctype nonsense from HTML fragments added to please the linter
  layouts/partials/footer.html
  layouts/partials/hooks/head-end.html
  layouts/partials/navbar.html
  layouts/partials/page-meta-lastmod.html
  layouts/partials/page-meta-links.html
  layouts/partials/section-index.html
  layouts/partials/tags.html
  layouts/partials/toc.html
  layouts/shortcodes/blocks/feature.html
  layouts/shortcodes/tabs.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Improved landing page style
  config.toml
  layouts/shortcodes/blocks/feature.html
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed tabbed content in users/cloud compute/openstack
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Fixes for code linter
  static/js/egi.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated syntax highlighting supported languages
  static/css/prism.css
  static/js/prism.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

More robust child page counting
  content/en/_index.md
  layouts/partials/footer.html
  layouts/partials/section-index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Compacted subpage list
  layouts/partials/section-index.html
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Compacted list of child pages
  layouts/partials/section-index.html
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Title correction
  content/en/users/check-in/vos/voms/_index.md
Owners: @vardizzo-lab

Added guide on creating new chapters and updated all ```sh to ```shell
  README.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/style/_index.md
  content/en/about/contributing/syntax/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/users/check-in/vos/_index.md
  content/en/users/check-in/vos/voms/_index.md
  content/en/users/data-transfer/WebFTS/_index.md
  content/en/users/data-transfer/api/_index.md
  content/en/users/data-transfer/clients/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
  content/en/users/workload-manager/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @vardizzo-lab, @CatalinCondurache

Refactor tabbed content to (partially) reuse docsy's tabbed-pane
  assets/scss/_variables_project.scss
  config.toml
  content/en/users/check-in/vos/group-role-info.md
  content/en/users/check-in/vos/register_enmr_vo.png
  content/en/users/check-in/vos/vo-subgroup-membership.png
  content/en/users/check-in/vos/vo-subgroup.png
  content/en/users/check-in/vos/vo_registration.png
  content/en/users/check-in/vos/voms.md
  content/en/users/cloud-compute/openstack/_index.md
  layouts/shortcodes/tab.html
  layouts/shortcodes/tabpanex.html
  layouts/shortcodes/tabs.html
  layouts/shortcodes/tabx.html
  static/css/shortcodes/tabbed-panex.css
  static/css/tabs.css
  static/js/egi.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @vardizzo-lab

Fix max sidebar height
  config.toml
  layouts/partials/navbar.html
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed left-side navigation tree behavior
  i18n/en.toml
  layouts/partials/page-meta-lastmod.html
  layouts/shortcodes/page-info.html
  layouts/shortcodes/tabx.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Reviewer requested fixes
  config.toml
  content/en/_index.md
  layouts/partials/hooks/head-end.html
  layouts/partials/tags.html
  layouts/partials/toc.html
  layouts/shortcodes/tabx.html
  static/css/egi.css
  static/js/github-buttons.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Final newline
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updates modules after having checked out a PR
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Removed translations to everything but English
  i18n/de.toml
  i18n/es.toml
  i18n/et.toml
  i18n/fr.toml
  i18n/hu.toml
  i18n/it.toml
  i18n/ja.toml
  i18n/ko.toml
  i18n/nl.toml
  i18n/no.toml
  i18n/pl.toml
  i18n/pt-br.toml
  i18n/ru.toml
  i18n/tr.toml
  i18n/zh.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Translation placeholders off
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

add links to https://fedcloudclient.fedcloud.eu/
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/ec3/apps/htc/_index.md
  content/en/users/cloud-compute/ec3/cli/_index.md
  content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/cloud-container-compute/k8s/_index.md
  content/en/users/notebooks/integration/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

prettier
  content/en/users/cloud-compute/ec3/cli/_index.md
  content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-container-compute/k8s/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

Linter requested fixes
  content/en/about/contributing/syntax/_index.md
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated hugo, excluded /layouts from linter
  .github/workflows/lint.yml
  binaries/linux64/LICENSE
  binaries/linux64/README.md
  binaries/macos64/LICENSE
  binaries/macos64/README.md
  binaries/version.md
  binaries/windows/LICENSE
  binaries/windows/README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Removed readme to hugo binaries
  binaries/linux64/LICENSE
  binaries/linux64/README.md
  binaries/macos64/LICENSE
  binaries/macos64/README.md
  binaries/windows/LICENSE
  binaries/windows/README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed link issues marked by linter
  .github/workflows/lint.yml
  assets/scss/_variables_project.scss
  config.toml
  content/en/users/check-in/vos/_index.md
  content/en/users/check-in/vos/expressing-vo-information/_index.md
  content/en/users/check-in/vos/expressing-vo-information/vo-subgroup-membership.png
  content/en/users/check-in/vos/expressing-vo-information/vo-subgroup.png
  content/en/users/check-in/vos/voms/_index.md
  content/en/users/check-in/vos/voms/register_enmr_vo.png
  content/en/users/check-in/vos/voms/vo_registration.png
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/workload-manager/_index.md
  static/css/egi.css
  static/css/prism.css
  static/js/egi.js
  static/js/github.min.js
  static/js/highlight.min.js
  static/js/prism.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @vardizzo-lab, @CatalinCondurache
