Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @sebastian-luna-valero, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Internal services
content/en/internal/ @gwarf @paolini78

# Providers
content/en/providers/ @gwarf @paolini78

# Users
content/en/users/ @enolfc @glarocca @andrea-manzi @gwarf @sebastian-luna-valero

# Storage-related services
content/en/users/data/ @andrea-manzi
content/en/providers/datahub/ @andrea-manzi

# dev-env
content/en/users/dev-env/ @enolfc

# FedCloud
content/en/users/compute/ @enolfc
content/en/providers/cloud-compute/ @enolfc

# Notebooks
content/en/users/dev-env/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/providers/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/dev-env/binder/ @enolfc @andrea-manzi @sebastian-luna-valero

# Training
content/en/users/training/ @glarocca

# Tutorials
content/en/users/tutorials/ @enolfc @sebastian-luna-valero

# Workload Manager
content/en/users/compute/orchestration/workload-manager/ @enolfc

# Check-in 
content/en/users/aai/ @vardizzo-lab
content/en/providers/check-in/ @vardizzo-lab

fix id to ID typo
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

Updated link to encrypted cloud storage
  content/en/users/security/secrets-store/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Improve lexicals
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

checkin_rest_api_documentation_improvements (#560)
  content/en/users/aai/check-in/vos/_index.md
Owners: @vardizzo-lab

get entitlements with new token portal (#559)
  content/en/users/aai/check-in/obtaining-tokens/token-portal/_index.md
Owners: @vardizzo-lab

Fix some deprecated links.
  content/en/users/compute/cloud-compute/_index.md
Owners: @enolfc

Fix deprecated link.
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

deploy: 8b6353ed11344c460c271dd031c77471e332f811
  566/sitemap.xml
  566/users/compute/cloud-compute/index.html
  566/users/compute/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 8b6353ed11344c460c271dd031c77471e332f811
  566/sitemap.xml
  566/users/getting-started/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Publish security page.
  content/en/users/security/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Ignore nix file for nix direnv
  .gitignore
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Build secret store architecture page
  content/en/users/security/secrets-store/architecture/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Removed draft flag
  content/en/users/security/secrets-store/architecture/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

deploy: 8b6353ed11344c460c271dd031c77471e332f811
  567/sitemap.xml
  567/users/security/secrets-store/architecture/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Toned down main security page
  content/en/users/security/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Remove SURFconext admin actions from user guide
  content/en/users/aai/check-in/faq/_index.md
Owners: @vardizzo-lab

Fixed review comments
  content/en/users/security/_index.md
  content/en/users/security/secrets-store/_index.md
  content/en/users/security/secrets-store/architecture/_index.md
  content/en/users/security/secrets-store/gui/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Language
  content/en/users/security/secrets-store/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

[Check-in] Add example configurations for Keycloak Services (#566)
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/providers/check-in/sp/oidc-examples-keycloak-add-oidc-idp-1.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-add-oidc-idp-2.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-idp.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-oidc-eduperson-entitlement-mapper.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-oidc-idp-advanced.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-oidc-idp-oidc.png
  content/en/providers/check-in/sp/oidc-examples-keycloak-oidc-voperson-id-mapper.png
  content/en/providers/check-in/sp/saml-examples-keycloak-add-saml-idp-1.png
  content/en/providers/check-in/sp/saml-examples-keycloak-add-saml-idp-2.png
  content/en/providers/check-in/sp/saml-examples-keycloak-idp.png
  content/en/providers/check-in/sp/saml-examples-keycloak-saml-edupersonentitlement-mapper.png
  content/en/providers/check-in/sp/saml-examples-keycloak-saml-idp-advanced.png
  content/en/providers/check-in/sp/saml-examples-keycloak-saml-idp-saml-setting.png
  content/en/providers/check-in/sp/saml-examples-keycloak-saml-vopersonid-mapper.png
  content/en/users/aai/check-in/_index.md
  content/en/users/aai/check-in/faq/_index.md
  content/en/users/compute/cloud-compute/_index.md
  content/en/users/getting-started/_index.md
Owners: @vardizzo-lab, @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Fix broken link
  content/en/users/data/management/data-transfer/_index.md
Owners: @andrea-manzi

deploy: 27fc936e7454213e941cf3486befce6669b7586c
  567/sitemap.xml
  567/users/data/management/data-transfer/index.html
  567/users/data/management/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated and realigned EGI logo in top navbar
  assets/icons/logo.svg
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated title of the docu website
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Alignment
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed double shadow on Copy button in shell excerpts
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Increased font size
  assets/scss/_variables_project.scss
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed ignore directive showing in the page
  content/en/users/compute/high-throughput-compute/querying-information-system/_index.md
Owners: @enolfc

Alignment correction
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 27fc936e7454213e941cf3486befce6669b7586c
  570/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Theme improvements (#570)
  assets/icons/logo.svg
  assets/scss/_variables_project.scss
  config.toml
  content/en/_index.md
  content/en/users/compute/high-throughput-compute/querying-information-system/_index.md
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Secrets Store documentation (#567)
  .gitignore
  content/en/about/contributing/shortcodes/_index.md
  content/en/users/data/management/data-transfer/_index.md
  content/en/users/data/management/data-transfer/api/_index.md
  content/en/users/data/management/datahub/api/_index.md
  content/en/users/data/management/datahub/clients/_index.md
  content/en/users/machine-learning/_index.md
  content/en/users/security/_index.md
  content/en/users/security/secrets-store/_index.md
  content/en/users/security/secrets-store/api/_index.md
  content/en/users/security/secrets-store/architecture/_index.md
  content/en/users/security/secrets-store/architecture/sstore-design.png
  content/en/users/security/secrets-store/cli/_index.md
  content/en/users/security/secrets-store/gui/_index.md
  content/en/users/security/secrets-store/gui/vault-create-secret.png
  content/en/users/security/secrets-store/gui/vault-home-directory.png
  content/en/users/security/secrets-store/gui/vault-homes.png
  content/en/users/security/secrets-store/gui/vault-login-oidc.png
  content/en/users/security/secrets-store/gui/vault-main-window.png
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @sebastian-luna-valero

Switched to shortcodes
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

Grouped specific user docs
  content/en/users/communities/_index.md
  content/en/users/specific/_index.md
  content/en/users/specific/communities/_index.md
  content/en/users/specific/communities/dmcc/_index.md
  content/en/users/specific/providers/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Improved section title
  content/en/users/specific/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Community titles improved
  content/en/users/specific/communities/dmcc/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Uniformized emails in the docs
  content/en/users/compute/orchestration/ec3/developers/_index.md
  content/en/users/getting-started/task-force/_index.md
  content/en/users/training/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Fix broken link
  content/en/providers/_index.md
Owners: @gwarf, @paolini78

deploy: 19119f91e12017316bc0a074c8afec3d65f472bf
  571/providers/index.html
  571/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Removed implicit use of fedcloudcli env var EGI_SITE
  content/en/users/compute/cloud-compute/auth/_index.md
  content/en/users/data/storage/block-storage/_index.md
  content/en/users/data/storage/object-storage/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @andrea-manzi, @glarocca, @gwarf, @sebastian-luna-valero

Fix link
  content/en/users/training/_index.md
Owners: @glarocca
