Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Use prettier to auto-format markdown files
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Binaries directory has been dropped
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

prettier_action need exact version
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update ref for github checkout, as shown in prettier-action doc
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Mimic prettier_action examples
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Test another ref, seems github.head_ref doesn't work with PR in forks.
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Put comments at the proper location
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md
  content/en/providers/operations-manuals/man02_service_intervention_management/_index.md
Owners: @gwarf, @paolini78

deploy: 08c49c57771dfa1dce4618ed25e7d52941a70101
  302/providers/operations-manuals/index.xml
  302/providers/operations-manuals/man02_service_intervention_management/index.html
  302/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Import MAN02 and HOWT{1,2,3,4} from https://docs.egi.eu/providers/operations-manuals/ (#302)
  content/en/providers/operations-manuals/_index.md
  content/en/providers/operations-manuals/howto01_site_certification_required_information/_index.md
  content/en/providers/operations-manuals/howto02_site_certification_required_documentation/_index.md
  content/en/providers/operations-manuals/howto03_site_certificatoin_giis_check/_index.md
  content/en/providers/operations-manuals/howto04_site_certification_manual_tests/_index.md
  content/en/providers/operations-manuals/man01_how_to_publish_site_information/_index.md
  content/en/providers/operations-manuals/man02_service_intervention_management/_index.md
Owners: @gwarf, @paolini78

delete_preview: fix if statement and path.
  .github/workflows/delete_pr_preview.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix typo
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Import man04
  content/en/providers/operations-manuals/man04_tool_intervention_management/_index.md
Owners: @gwarf, @paolini78

Import export of MAN05
  content/en/providers/operations-manuals/man05_top_bdii_and_site_bdii_high_availability/_index.md
Owners: @gwarf, @paolini78

Import export of MAN09
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

Import mediawiki export of man06
  content/en/providers/operations-manuals/man06_failover_for_mysql_grid_based_services/_index.md
Owners: @gwarf, @paolini78

Import mediawiki export of man07
  content/en/providers/operations-manuals/man07_voms_replication/_index.md
Owners: @gwarf, @paolini78

No more needed to add line-length exclusion.
  content/en/providers/operations-manuals/man01_how_to_publish_site_information/_index.md
Owners: @gwarf, @paolini78

Review MAN05, include images
  content/en/providers/operations-manuals/man05_top_bdii_and_site_bdii_high_availability/_index.md
  content/en/providers/operations-manuals/man05_top_bdii_and_site_bdii_high_availability/dnsupdater-igi.png
  content/en/providers/operations-manuals/man05_top_bdii_and_site_bdii_high_availability/nsupdater-ibergrid-2.png
  content/en/providers/operations-manuals/man05_top_bdii_and_site_bdii_high_availability/nsupdater-ibergrid.png
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

Link to local MAN05 and MAN05
  content/en/providers/operations-manuals/_index.md
Owners: @gwarf, @paolini78

Rename page
  content/en/providers/operations-manuals/man05_top_and_site_bdii_high_availability/_index.md
  content/en/providers/operations-manuals/man05_top_and_site_bdii_high_availability/dnsupdater-igi.png
  content/en/providers/operations-manuals/man05_top_and_site_bdii_high_availability/nsupdater-ibergrid-2.png
  content/en/providers/operations-manuals/man05_top_and_site_bdii_high_availability/nsupdater-ibergrid.png
Owners: @gwarf, @paolini78

Review MAN06
  content/en/providers/operations-manuals/man06_failover_for_mysql_grid_based_services/_index.md
Owners: @gwarf, @paolini78

Link to local MAN0{6,7,9}
  content/en/providers/operations-manuals/_index.md
Owners: @gwarf, @paolini78

Review MAN07 and import scripts
  content/en/providers/operations-manuals/man07_voms_replication/_index.md
  content/en/providers/operations-manuals/man07_voms_replication/first_replica.sh
  content/en/providers/operations-manuals/man07_voms_replication/next_replicas.sh
Owners: @gwarf, @paolini78

Review MAN09
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

Fix ordering
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

MAN09: fix link to ARC 6.12
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

MAN09: fix link
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

Clean a bit first_replica.sh
  content/en/providers/operations-manuals/man07_voms_replication/first_replica.sh
Owners: @gwarf, @paolini78

Clean a bit next_replica.sh
  content/en/providers/operations-manuals/man07_voms_replication/next_replicas.sh
Owners: @gwarf, @paolini78

first_replica: remove unused option
  content/en/providers/operations-manuals/man07_voms_replication/first_replica.sh
Owners: @gwarf, @paolini78

man09: fix URL
  content/en/providers/operations-manuals/man09_accounting_data_publishing/_index.md
Owners: @gwarf, @paolini78

deploy: ed5ff8727085eb91588d99c8047161be24459124
  305/providers/operations-manuals/man07_voms_replication/first_replica.sh
  305/providers/operations-manuals/man07_voms_replication/next_replicas.sh
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

MAN07 shell script: ignore SC2181
  content/en/providers/operations-manuals/man07_voms_replication/first_replica.sh
  content/en/providers/operations-manuals/man07_voms_replication/next_replicas.sh
Owners: @gwarf, @paolini78

deploy: ed5ff8727085eb91588d99c8047161be24459124
  305/providers/operations-manuals/man07_voms_replication/first_replica.sh
  305/providers/operations-manuals/man07_voms_replication/next_replicas.sh
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/architecture/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Update storage resource limits for notebooks
  content/en/users/notebooks/_index.md
  content/en/users/notebooks/data/_index.md
Owners: @enolfc, @andrea-manzi

reviewer requestd fixes
  content/en/users/getting-started/architecture/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf
