Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @sebastian-luna-valero, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Internal services
content/en/internal/ @gwarf @paolini78

# Providers
content/en/providers/ @gwarf @paolini78

# Users
content/en/users/ @enolfc @glarocca @andrea-manzi @gwarf @sebastian-luna-valero

# Storage-related services
content/en/users/data/ @andrea-manzi
content/en/providers/datahub/ @andrea-manzi

# dev-env
content/en/users/dev-env/ @enolfc

# FedCloud
content/en/users/compute/ @enolfc
content/en/providers/cloud-compute/ @enolfc

# Notebooks
content/en/users/dev-env/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/providers/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/dev-env/binder/ @enolfc @andrea-manzi @sebastian-luna-valero

# Training
content/en/users/training/ @glarocca

# Tutorials
content/en/users/tutorials/ @enolfc @sebastian-luna-valero

# Workload Manager
content/en/users/compute/orchestration/workload-manager/ @enolfc

# Check-in 
content/en/users/aai/ @vardizzo-lab
content/en/providers/check-in/ @vardizzo-lab

page about storage accounting
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Textlint: exclude CSS.
  .github/linters/.textlintrc
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Rewording/typos/nitpicking.
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

added link to dcache documentatation
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Add point, address terminology.
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Try to fix terminology exclusion.
  .github/linters/.textlintrc
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

mentioned EGI Configuration Database
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Reorganise entries, align naming
  content/en/providers/high-throughput-compute/changing-site-bdii/_index.md
  content/en/providers/high-throughput-compute/htcondor-ce-accounting/_index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @gwarf, @paolini78

Link all accouting pages from accounting service
  content/en/internal/accounting/_index.md
Owners: @gwarf, @paolini78

Link all accouting pages from HTC page
  content/en/providers/high-throughput-compute/_index.md
Owners: @gwarf, @paolini78

Textlint: try to fix false positive
  .github/linters/.textlintrc
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Publish accoutning service service information.
  content/en/internal/accounting/service-information/_index.md
Owners: @gwarf, @paolini78

Cosmetics.
  content/en/internal/configuration-database/service-information/_index.md
Owners: @gwarf, @paolini78

Allow using postcss-cli term.
  .github/linters/.textlintrc
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Link to ID Card.
  content/en/internal/accounting/_index.md
Owners: @gwarf, @paolini78

deploy: bf528f1ac4d1bfa1ed166d3e5183578d3d2a64f7
  561/internal/accounting/index.html
  561/sitemap.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

page about storage accounting (#561)
  .github/linters/.textlintrc
  content/en/internal/accounting/_index.md
  content/en/internal/accounting/service-information/_index.md
  content/en/internal/configuration-database/service-information/_index.md
  content/en/providers/high-throughput-compute/_index.md
  content/en/providers/high-throughput-compute/changing-site-bdii/_index.md
  content/en/providers/high-throughput-compute/htcondor-ce-accounting/_index.md
  content/en/providers/high-throughput-compute/storage-accounting/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78

Fix broken URL, cosmetics.
  content/en/users/dev-env/_index.md
Owners: @enolfc

Fix deprecated link
  content/en/users/aai/_index.md
Owners: @vardizzo-lab

deploy: 56c4eb7818076339844e7860ec2870cf6906717b
  537/sitemap.xml
  537/users/aai/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix deprecated link
  content/en/users/tutorials/create-your-first-virtual-machine/_index.md
Owners: @enolfc, @sebastian-luna-valero

Fix deprecated links
  content/en/about/contributing/style/_index.md
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/users/aai/check-in/_index.md
  content/en/users/compute/cloud-compute/_index.md
  content/en/users/compute/cloud-container-compute/_index.md
  content/en/users/compute/orchestration/workload-manager/_index.md
  content/en/users/data/management/data-transfer/_index.md
  content/en/users/data/storage/_index.md
  content/en/users/dev-env/notebooks/_index.md
  content/en/users/getting-started/_index.md
  content/en/users/training/_index.md
  content/en/users/tutorials/htc-job-submission/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @vardizzo-lab, @sebastian-luna-valero

Fix deprecated links
  content/en/users/compute/cloud-compute/monitor/_index.md
  content/en/users/compute/cloud-container-compute/_index.md
  content/en/users/compute/orchestration/dodas/_index.md
  content/en/users/compute/orchestration/ec3/_index.md
  content/en/users/compute/orchestration/im/_index.md
Owners: @enolfc

deploy: 56c4eb7818076339844e7860ec2870cf6906717b
  544/sitemap.xml
  544/users/compute/cloud-compute/index.xml
  544/users/compute/cloud-compute/monitor/index.html
  544/users/compute/cloud-container-compute/index.html
  544/users/compute/index.xml
  544/users/compute/orchestration/dodas/index.html
  544/users/compute/orchestration/ec3/index.html
  544/users/compute/orchestration/im/index.html
  544/users/compute/orchestration/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix deprecated link
  content/en/users/getting-started/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf, @sebastian-luna-valero

Ignore all LTOS links.
  .github/linters/mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Ignore RFC links that are often doing timeouts
  .github/linters/mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 56c4eb7818076339844e7860ec2870cf6906717b
  544/sitemap.xml
  544/users/getting-started/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix deprecated link
  content/en/users/compute/cloud-container-compute/_index.md
Owners: @enolfc

Use an http link for EC3
  content/en/users/compute/orchestration/ec3/_index.md
Owners: @enolfc

Use an https link for oneclient installation
  content/en/users/data/management/datahub/clients/_index.md
  content/en/users/tutorials/vm-datahub/_index.md
Owners: @andrea-manzi, @enolfc, @sebastian-luna-valero

deploy: 56c4eb7818076339844e7860ec2870cf6906717b
  544/sitemap.xml
  544/users/compute/cloud-container-compute/index.html
  544/users/compute/index.xml
  544/users/compute/orchestration/ec3/index.html
  544/users/compute/orchestration/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi
