Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Resize img
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Resize img
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Resize img
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Resize img
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Resize img
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Improve OpenStack integration documentation (#190)
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Rename EGI-Foundation to EGI-Federation
  README.md
  config.toml
  static/README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

content: rename EGI-Foundation org to EGI-Federation
  content/en/_index.md
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/style/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/notebooks/architecture/_index.md
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/federation/_index.md
  content/en/users/cloud-compute/vmi/_index.md
  content/en/users/cloud-container-compute/k8s.md
  content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/training/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy to EGI-Federation repository
  .github/workflows/deploy.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix additional references to EGI-Foundation
  content/en/providers/notebooks/architecture/_index.md
  content/en/users/notebooks/faq/_index.md
  content/en/users/notebooks/kernels/_index.md
Owners: @enolfc, @andrea-manzi

Fix link to voms doc
  content/en/users/cloud-compute/auth/_index.md
Owners: @enolfc

Update references to EGI-Foundation, and use EGI-Federation (#194)
  .github/workflows/deploy.yml
  README.md
  config.toml
  content/en/_index.md
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/style/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/notebooks/architecture/_index.md
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/federation/_index.md
  content/en/users/cloud-compute/vmi/_index.md
  content/en/users/cloud-container-compute/k8s.md
  content/en/users/notebooks/faq/_index.md
  content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/training/_index.md
  static/README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Add grafana snapshots
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-application-dashboard.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-infra-dashboard-io.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-infra-dashboard-server.png
Owners: @enolfc

Add grafana snapshots
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Add grafana snapshots
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Add grafana snapshots
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Update Check-in QA section
  content/en/users/check-in/faq/_index.md
  content/en/users/check-in/faq/check-in-discovery-igft.png
Owners: @vardizzo-lab

Update Check-in FAQ section
  .github/linters/mlc_config.json
  content/en/users/check-in/faq/_index.md
  content/en/users/check-in/faq/check-in-discovery-igft.png
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @vardizzo-lab

Update Check-in FAQ section (#197)
  .github/linters/mlc_config.json
  content/en/users/check-in/faq/_index.md
  content/en/users/check-in/faq/check-in-discovery-igft.png
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @vardizzo-lab

Fix minor bugs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix minor bugs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix minor bugs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Added list of VOs supported by the service
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Clarify usage of lists
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed list of VOs
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Fix DIRAC web portal port
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Forgot to use prettier
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Fix the list items
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Added list of VOs supported by the service (#199)
  content/en/users/workload-manager/_index.md
Owners: @CatalinCondurache

Full git history needed for proper list of changed files
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Full git history needed for proper list of changed files (#202)
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix lines lenght
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix lines lenght
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix imgs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix imgs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix imgs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix minor bugs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix minor bugs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix minor bugs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Fix minor bugs
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc
