Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Replace `edu_person_entitlements` with `edu_person_entitlement`
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Remove `refeds_edu` scope
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Hotfix replace edu person entiltements (#178)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Update _index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Update _index.md (#179)
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Update _index.md
  content/en/users/cloud-compute/_index.md
Owners: @enolfc

Update _index.md (#180)
  content/en/users/cloud-compute/_index.md
Owners: @enolfc

Initial inclusion of an ID card for GOCDB
  content/en/internal/configuration-database/_index.md
Owners: @gwarf, @paolini78

gocdb: Skip bare-url check
  content/en/internal/configuration-database/_index.md
Owners: @gwarf, @paolini78

gocdb: fix check name
  content/en/internal/configuration-database/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Update _index.md (#189)
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Add one entry on releasing resources
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Improve wording
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Add one entry on releasing resources (#191)
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Add AMS port for authentication
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Remove the suggested change of policy
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Remove BDII port
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Add cloud-info-provider + appliance info
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Update Check-in Service Providers Integration guide - RAF support
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Update content/en/providers/check-in/sp/_index.md
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

[Check-in] Update Check-in Service Providers Integration guide - RAF support (#192)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Update _index.md
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Add Grafana section
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

remove references to non working webs
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Avoid CMD repo URL
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Add png files
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-jupyter.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-space.png
  content/en/users/cloud-compute/ec3/apps/ecas/grafana-login.png
Owners: @enolfc

Resize img
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Resize img
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Resize img
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc
