Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

Only use the main support section (#148)
  content/en/providers/getting-support/_index.md
  content/en/support/_index.md
  content/en/users/getting-support/_index.md
Owners: @gwarf, @paolini78, @enolfc, @glarocca, @andrea-manzi

Keep fixing the linter issues
  content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Reformat Check-in files using Prettier
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/users/check-in/linking/_index.md
  content/en/users/check-in/signup/_index.md
Owners: @vardizzo-lab

Disable line-length and no-inline-html checks for tables
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fix link in signup.md
  content/en/users/check-in/signup/_index.md
Owners: @vardizzo-lab

Reformat Check-in files using markdownlint
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/users/check-in/linking/_index.md
  content/en/users/check-in/signup/_index.md
Owners: @vardizzo-lab

Change code block language
  content/en/providers/check-in/sp/_index.md
  content/en/users/check-in/vos/voms/_index.md
Owners: @vardizzo-lab

Reformat Check-in files (#141)
  content/en/providers/check-in/idp/_index.md
  content/en/providers/check-in/sp/_index.md
  content/en/users/check-in/linking/_index.md
  content/en/users/check-in/signup/_index.md
  content/en/users/check-in/vos/voms/_index.md
Owners: @vardizzo-lab

Use proper URL pattern
  .github/linters/mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

contributing: document automated checks and clarify release process
  content/en/about/contributing/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: use a shorter service name for the service example
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: document case where it is possible to break the style guide.
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: remove bare URL
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: fix typo
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: use various tips/warning alerts
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: update title
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: fix headers level
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: move exceptions outside of the mardkwon block
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

style: due to !+ like
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

git: typo + first-contributions
  content/en/about/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

about: move style guide, syntax and git pages under the contributing section
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/style/_index.md
  content/en/about/contributing/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

syntax: drop bare URL
  content/en/about/contributing/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/providers/cloud-compute/_index.md
  content/en/providers/cloud-compute/_index.md
Owners: @enolfc

Use real email
  content/en/providers/cloud-compute/_index.md
Owners: @enolfc

Fix linting issues (#145)
  .github/linters/mlc_config.json
  content/en/providers/cloud-compute/_index.md
  content/en/providers/cloud-compute/configuration/_index.md
  content/en/providers/cloud-compute/faq/_index.md
  content/en/providers/cloud-compute/opennebula/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/registration/_index.md
  content/en/providers/cloud-compute/requirements/_index.md
  content/en/providers/cloud-compute/validation/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

New docs on EC3 portal
  content/en/users/cloud-compute/ec3/portal/_index.md
  content/en/users/cloud-compute/ec3/portal/ec3-endpoint.png
  content/en/users/cloud-compute/ec3/portal/ec3-lrms.png
  content/en/users/cloud-compute/ec3/portal/ec3-nodes.png
  content/en/users/cloud-compute/ec3/portal/ec3-portal.png
  content/en/users/cloud-compute/ec3/portal/ec3-size.png
Owners: @enolfc

Move to new subsection
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-container-1.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-container-2.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-end.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-endpoint.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-explore.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-front.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-instance.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-jupyter.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-jupyterhub.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-list.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-lrms.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-manage.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-oph_term.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-os.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-reduce.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-size.png
  content/en/users/cloud-compute/ec3/apps/ecas/ecas-summary.png
  content/en/users/cloud-compute/ec3/apps/htc.md
  content/en/users/cloud-compute/ec3/cli.md
Owners: @enolfc

Reorganise sections
  content/en/users/cloud-compute/ec3/_index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
  content/en/users/cloud-compute/ec3/apps/ecas/_index.md
  content/en/users/cloud-compute/ec3/cli.md
Owners: @enolfc

Fix link
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

Be nice to mdlinkchecker
  content/en/users/cloud-compute/ec3/apps/htc/_index.md
  content/en/users/cloud-compute/ec3/cli/_index.md
Owners: @enolfc

Update _index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

Update and reorganise contribution guide (#149)
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/style/_index.md
  content/en/about/contributing/syntax/_index.md
  content/en/about/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update _index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

Update _index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

Update _index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

Update _index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

Update _index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

Update _index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
Owners: @enolfc

Update "Verified email" details
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Add description for `CertEntitlement`
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab
