Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

Updates modules after having checked out a PR (#245)
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Try to addess linter error
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Remove duplicated empty line reported by linter
  assets/scss/_variables_project.scss
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix linter reported issues
  assets/scss/_variables_project.scss
  content/en/users/data-transfer/clients/_index.md
  static/css/egi.css
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix linter marked issues
  .github/workflows/lint.yml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix linter reported problems
  content/en/users/data-transfer/clients/_index.md
Owners: @andrea-manzi

Update config.toml
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Added the EPEL repositories in the FTS installation process
  content/en/users/data-transfer/clients/_index.md
Owners: @andrea-manzi

Update content/en/about/contributing/syntax/_index.md
  content/en/about/contributing/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/about/contributing/syntax/_index.md
  content/en/about/contributing/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/about/contributing/syntax/_index.md
  content/en/about/contributing/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/about/contributing/syntax/_index.md
  content/en/about/contributing/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

PR requested fixes
  assets/scss/_variables_project.scss
  layouts/partials/footer.html
  layouts/partials/toc.html
  static/css/egi.css
  static/js/egi.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Shortened the lenght of the line
  content/en/users/data-transfer/clients/_index.md
Owners: @andrea-manzi

Increased font size
  assets/scss/_variables_project.scss
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Add links to fedcloudclient (#246)
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/ec3/apps/htc/_index.md
  content/en/users/cloud-compute/ec3/cli/_index.md
  content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/cloud-container-compute/k8s/_index.md
  content/en/users/notebooks/integration/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

harmonise setup
  README.md
  content/en/about/contributing/git/_index.md
  package.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

markdownlint
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

prettier
  README.md
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

dont include markdownlint in package.json for now
  package.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Harmonize repository setup (#251)
  README.md
  content/en/about/contributing/git/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated font size of theme
  assets/scss/_variables_project.scss
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Revised main section About
  content/en/about/_index.md
  content/en/about/concepts.md
  content/en/about/concepts/_index.md
  content/en/about/concepts/metadata.png
  content/en/about/concepts/page.png
  content/en/about/concepts/section.png
  content/en/about/contributing/_index.md
  content/en/about/contributing/git.md
  content/en/about/contributing/shortcodes.md
  content/en/about/contributing/style.md
  content/en/about/contributing/style/_index.md
  content/en/about/contributing/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Revised main section Internal Services
  content/en/internal/_index.md
  content/en/internal/accounting.md
  content/en/internal/configuration-database/_index.md
  content/en/internal/configuration-database/access.md
  content/en/internal/getting-started.md
  content/en/internal/helpdesk.md
Owners: @gwarf, @paolini78

Revised main section Service Providers
  content/en/providers/_index.md
  content/en/providers/check-in/idp.md
  content/en/providers/check-in/sp.md
  content/en/providers/cloud-compute/configuration.md
  content/en/providers/cloud-compute/faq.md
  content/en/providers/cloud-compute/opennebula.md
  content/en/providers/cloud-compute/openstack.md
  content/en/providers/cloud-compute/registration.md
  content/en/providers/cloud-compute/requirements.md
  content/en/providers/cloud-compute/validation.md
  content/en/providers/datahub/oneprovider.md
  content/en/providers/notebooks/architecture.md
  content/en/providers/notebooks/operations.md
  content/en/support/_index.md
Owners: @gwarf, @paolini78, @vardizzo-lab, @enolfc, @andrea-manzi, @glarocca

Corrected links
  content/en/providers/check-in/idp/_index.md
  content/en/users/check-in/linking/_index.md
  content/en/users/check-in/vos/_index.md
Owners: @vardizzo-lab

Corrected ;linter errors
  content/en/about/concepts/_index.md
  content/en/about/contributing/_index.md
  content/en/about/contributing/style/_index.md
  content/en/internal/configuration-database/access/_index.md
  content/en/users/_index.md
  content/en/users/check-in/_index.md
  content/en/users/cloud-compute/ec3/apps/_index.md
  content/en/users/getting-started/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @vardizzo-lab

Added note to avoid pages
  content/en/about/concepts/_index.md
  content/en/about/contributing/shortcodes/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed linter errors
  content/en/about/concepts/_index.md
  content/en/about/contributing/shortcodes/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Added concepts and more shortcodes
  content/en/about/_index.md
  content/en/about/concepts/_index.md
  content/en/about/concepts/metadata.png
  content/en/about/concepts/page.png
  content/en/about/concepts/section.png
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/shortcodes/_index.md
  content/en/about/contributing/style/_index.md
  content/en/about/contributing/syntax/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Removed redundant note
  content/en/about/concepts/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated font size of theme (#252)
  assets/scss/_variables_project.scss
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/users/data-transfer/clients/_index.md
  content/en/users/data-transfer/clients/_index.md
Owners: @andrea-manzi

Update content/en/users/data-transfer/clients/_index.md
  content/en/users/data-transfer/clients/_index.md
Owners: @andrea-manzi

Updated the getting started page
  content/en/internal/_index.md
  content/en/internal/accounting/_index.md
  content/en/internal/configuration-database/_index.md
  content/en/internal/configuration-database/access/_index.md
  content/en/internal/getting-started/_index.md
  content/en/internal/helpdesk/_index.md
Owners: @gwarf, @paolini78

Fixed line lenghts
  content/en/internal/helpdesk/_index.md
Owners: @gwarf, @paolini78

Added the EPEL repositories in the FTS installation process with multiline (#248)
  content/en/users/data-transfer/clients/_index.md
Owners: @andrea-manzi

Added meaningful content to the support page
  content/en/support/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Corrected links and added titles
  content/en/internal/accounting/_index.md
  content/en/internal/getting-started/_index.md
  content/en/internal/helpdesk/_index.md
Owners: @gwarf, @paolini78

Update _index.md
  content/en/providers/cloud-compute/_index.md
Owners: @enolfc

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab
