Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/faq/_index.md
Owners: @enolfc

Remove egicli and refresh token references (#215)
  content/en/providers/notebooks/operations/_index.md
  content/en/users/cloud-compute/auth/_index.md
  content/en/users/cloud-compute/ec3/apps/htc/_index.md
  content/en/users/cloud-compute/ec3/cli/_index.md
  content/en/users/cloud-compute/faq/_index.md
  content/en/users/cloud-compute/openstack/_index.md
  content/en/users/cloud-container-compute/k8s.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @andrea-manzi

update links in k8s tutorial
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

run prettier
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

update links in k8s tutorial
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

run prettier
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

Update links on k8s docs (#232)
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

Fix EGI Check-in SP capabilities content
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fix EGI Check-in SP capabilities content (#233)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fix links
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

Move sub sections to dedicated directories
  content/en/users/cloud-container-compute/docker/_index.md
  content/en/users/cloud-container-compute/k8s/_index.md
Owners: @enolfc

Try to fix link for k8s section (#235)
  content/en/users/cloud-container-compute/docker/_index.md
  content/en/users/cloud-container-compute/k8s/_index.md
Owners: @enolfc

update chipster docs
  content/en/users/applications-on-demand/_index.md
  content/en/users/applications-on-demand/chipster/_index.md
  content/en/users/applications-on-demand/chipster/chipster-execute.png
Owners: @glarocca

prettier
  content/en/users/applications-on-demand/_index.md
  content/en/users/applications-on-demand/chipster/_index.md
Owners: @glarocca

Super-Linter
  content/en/users/applications-on-demand/_index.md
Owners: @glarocca

apparently this should also work
  content/en/users/applications-on-demand/_index.md
Owners: @glarocca

Improve Chipster docs (#236)
  content/en/users/applications-on-demand/_index.md
  content/en/users/applications-on-demand/chipster/_index.md
  content/en/users/applications-on-demand/chipster/chipster-execute.png
Owners: @glarocca

Update _index.md
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

metioned jq install with native package manager
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

corrected line length
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

prettier plugin
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

removed pip install for jq
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

removed reference to jq
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Updated users/cloud compute/openstack section (#230)
  content/en/users/cloud-compute/openstack/_index.md
Owners: @enolfc

Update content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/kernels/_index.md
Owners: @enolfc, @andrea-manzi

Update content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/kernels/_index.md
Owners: @enolfc, @andrea-manzi

Update content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/kernels/_index.md
Owners: @enolfc, @andrea-manzi

Add MATLAB docs
  content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/kernels/matlab-icon.png
  content/en/users/notebooks/kernels/matlab-ide.png
  content/en/users/notebooks/kernels/matlab-network-license.png
  content/en/users/notebooks/kernels/matlab-online-license.png
  content/en/users/notebooks/kernels/matlab-session.png
  content/en/users/notebooks/kernels/matlab-status.png
  content/en/users/notebooks/kernels/notebooks-environments.png
Owners: @enolfc, @andrea-manzi

Update content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/kernels/_index.md
Owners: @enolfc, @andrea-manzi

Add link to datahub .mlx
  content/en/users/notebooks/kernels/_index.md
Owners: @enolfc, @andrea-manzi

Add MATLAB docs (#239)
  content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/kernels/matlab-icon.png
  content/en/users/notebooks/kernels/matlab-ide.png
  content/en/users/notebooks/kernels/matlab-network-license.png
  content/en/users/notebooks/kernels/matlab-online-license.png
  content/en/users/notebooks/kernels/matlab-session.png
  content/en/users/notebooks/kernels/matlab-status.png
  content/en/users/notebooks/kernels/notebooks-environments.png
Owners: @enolfc, @andrea-manzi

Update _index.md (#238)
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

added subpage for IM
  content/en/users/cloud-compute/federation/_index.md
  content/en/users/cloud-compute/gpgpu/_index.md
  content/en/users/cloud-compute/im/_index.md
Owners: @enolfc

markdownlint
  content/en/users/cloud-compute/im/_index.md
Owners: @enolfc

prettier
  content/en/users/cloud-compute/federation/_index.md
  content/en/users/cloud-compute/gpgpu/_index.md
  content/en/users/cloud-compute/im/_index.md
Owners: @enolfc

updated link
  content/en/users/cloud-compute/federation/_index.md
Owners: @enolfc

prettier
  content/en/users/cloud-compute/federation/_index.md
Owners: @enolfc

Readthedocs (#243)
  content/en/users/cloud-compute/federation/_index.md
Owners: @enolfc

Added tabbed sample support
  config.toml
  content/en/search.md
  content/en/users/cloud-compute/openstack/_index.md
  layouts/partials/hooks/head-end.html
  layouts/partials/page-meta-lastmod.html
  layouts/partials/tags.html
  layouts/shortcodes/tab.html
  layouts/shortcodes/tabs.html
  static/css/tabs.css
  static/css/tags.css
  static/js/clipboard.min.js
  static/js/egi.js
  static/js/featherlight.min.js
  static/js/highlight.pack.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab
