Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab

reused a deleted note
  content/en/about/contributing/shortcodes/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated exception example to show the interesting part too
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Correction to reflect dropping the line length check
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Added a tip to the OpenStack page to quickly get all dashboards
  content/en/about/contributing/shortcodes/_index.md
  content/en/users/getting-started/architecture/_index.md
  content/en/users/getting-started/cli/_index.md
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Dropped link to the GOCDB as the next note links to a paragraph where that is included
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Further clarification
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Fixed links
  content/en/users/getting-started/architecture/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Hack for buggy linter checks
  content/en/about/contributing/shortcodes/_index.md
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Provided initial example of setting env vars for multiple shells
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @andrea-manzi

Updated examples of using commands that return shell commands to set env vars
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Fixed linter errors
  content/en/users/getting-started/cli/_index.md
  content/en/users/online-storage/block-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Updated CLI help output
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Updated code/shell exceprt syntax highlighting
  static/js/prism.js
  static/js/prism.min.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

No more crappy fade in
  layouts/shortcodes/tabpanex.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Use name that hides fle in the theme
  config.toml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Get rid of the ancient scroll hack, Bootstrap 4 has come a long way
  static/js/egi.js
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Trying to ignore minified file
  package.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Typos
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Fixed title in top navbar
  config.toml
  layouts/partials/navbar.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed linter errors
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

deploy: 296a01d8647fdd9ea1eb85aef218e126204cc706
  314/sitemap.xml
  314/users/getting-started/cli/index.html
  314/users/getting-started/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/users/getting-started/openstack/_index.md
  content/en/users/getting-started/openstack/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Addressed reviewer comments
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

deploy: 296a01d8647fdd9ea1eb85aef218e126204cc706
  313/sitemap.xml
  313/users/getting-started/cli/index.html
  313/users/getting-started/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Addressed reviewer comments
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Missed a folder to put in backticks
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

deploy: 296a01d8647fdd9ea1eb85aef218e126204cc706
  313/sitemap.xml
  313/users/getting-started/cli/index.html
  313/users/getting-started/index.xml
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Removed linter exceptions
  content/en/users/getting-started/cli/_index.md
Owners: @enolfc, @glarocca, @andrea-manzi, @gwarf

Removed exception sample for long lines
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated style guide accoring to discussions on GitHub
  content/en/about/contributing/_index.md
  content/en/about/contributing/git/_index.md
  content/en/about/contributing/shortcodes/_index.md
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

reused a deleted note
  content/en/about/contributing/shortcodes/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/about/contributing/shortcodes/_index.md
  content/en/about/contributing/shortcodes/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed linter errors
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Correction to reflect dropping the line length check
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed linter errors
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Updated exception example to show the interesting part too
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Update content/en/about/contributing/_index.md
  content/en/about/contributing/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

deploy: 296a01d8647fdd9ea1eb85aef218e126204cc706
  307/about/contributing/git/index.html
  307/about/contributing/index.html
  307/about/contributing/shortcodes/index.html
  307/about/contributing/style/index.html
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Addressed reviewer comments
  content/en/about/contributing/shortcodes/_index.md
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fixed linter errors
  content/en/about/contributing/style/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi
