Repository EGI-Federation/documentation, changes with the owners that CODEOWNERS names for each.
All owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78, @CatalinCondurache, @vardizzo-lab

Fix linting
  content/en/users/cloud-compute/gpgpu/_index.md
Owners: @enolfc

More issues
  content/en/providers/notebooks/architecture/_index.md
  content/en/users/datahub/clients/_index.md
  content/en/users/online-storage/_index.md
Owners: @enolfc, @andrea-manzi

Add training notebooks URL
  .github/linters/mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix cloud container compute
  content/en/users/cloud-container-compute/_index.md
  content/en/users/cloud-container-compute/docker.md
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

Fix notebooks link
  .github/linters/mlc_config.json
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix links
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

More issues
  content/en/users/cloud-container-compute/k8s.md
Owners: @enolfc

Fix ec3
  content/en/users/cloud-compute/ec3/developers/_index.md
Owners: @enolfc

Linter
  content/en/internal/configuration-database/_index.md
Owners: @gwarf, @paolini78

Keep coming
  content/en/_index.md
  content/en/users/training/events/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Links broken?
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Still trying to fix
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

No trailing slash
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Disable link checking
  content/en/_index.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Missing fixes
  .github/workflows/lint.yml
  content/en/_footer.md
  content/en/internal/configuration-database/access/_index.md
  static/.github/PULL_REQUEST_TEMPLATE.md
  static/README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78

h1 fail
  content/en/_footer.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Ignore missing header here
  content/en/_footer.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

make hugo happy
  content/en/_footer.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi

Fix linter issues (#172)
  .github/linters/mlc_config.json
  .github/workflows/lint.yml
  content/en/_footer.md
  content/en/_index.md
  content/en/internal/configuration-database/_index.md
  content/en/internal/configuration-database/access/_index.md
  content/en/providers/datahub/oneprovider/_index.md
  content/en/providers/notebooks/_index.md
  content/en/providers/notebooks/architecture/_index.md
  content/en/providers/notebooks/operations/_index.md
  content/en/users/cloud-compute/ec3/developers/_index.md
  content/en/users/cloud-compute/gpgpu/_index.md
  content/en/users/cloud-container-compute/_index.md
  content/en/users/cloud-container-compute/docker.md
  content/en/users/cloud-container-compute/k8s.md
  content/en/users/data-transfer/WebFTS/_index.md
  content/en/users/data-transfer/_index.md
  content/en/users/data-transfer/clients/_index.md
  content/en/users/data-transfer/monitoring/_index.md
  content/en/users/datahub/_index.md
  content/en/users/datahub/api/_index.md
  content/en/users/datahub/clients/_index.md
  content/en/users/notebooks/_index.md
  content/en/users/notebooks/data/_index.md
  content/en/users/notebooks/faq/_index.md
  content/en/users/notebooks/integration/_index.md
  content/en/users/notebooks/kernels/_index.md
  content/en/users/notebooks/training/_index.md
  content/en/users/online-storage/_index.md
  content/en/users/online-storage/grid-storage/_index.md
  content/en/users/online-storage/object-storage/_index.md
  content/en/users/training/events/_index.md
  static/.github/PULL_REQUEST_TEMPLATE.md
  static/README.md
Owners: @enolfc, @glarocca, @gwarf, @andrea-manzi, @paolini78

Dynamic DNS docs
  content/en/users/cloud-compute/dynamic-dns/_index.md
  content/en/users/cloud-compute/dynamic-dns/add-host.png
  content/en/users/cloud-compute/dynamic-dns/dynamic-dns-portal.png
Owners: @enolfc

Make room for dyndns
  content/en/users/cloud-compute/ec3/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/dynamic-dns/_index.md
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/dynamic-dns/_index.md
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/dynamic-dns/_index.md
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/dynamic-dns/_index.md
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/dynamic-dns/_index.md
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

Update content/en/users/cloud-compute/dynamic-dns/_index.md
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

Add some cloud-init mojo
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

Dynamic DNS docs (#174)
  content/en/users/cloud-compute/dynamic-dns/_index.md
  content/en/users/cloud-compute/dynamic-dns/add-host.png
  content/en/users/cloud-compute/dynamic-dns/dynamic-dns-portal.png
  content/en/users/cloud-compute/ec3/_index.md
Owners: @enolfc

Update GOCDB stuff
  content/en/providers/cloud-compute/registration/_index.md
Owners: @enolfc

Fix linting
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Fix missing end of sentence
  content/en/providers/cloud-compute/registration/_index.md
Owners: @enolfc

Update content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Add link to AMS
  content/en/providers/cloud-compute/openstack/_index.md
Owners: @enolfc

Some updates on OpenStack (#165)
  content/en/providers/cloud-compute/openstack/_index.md
  content/en/providers/cloud-compute/registration/_index.md
Owners: @enolfc

[Check-in] Add description for SSH Public Key attribute
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

Fixing small mistyping
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

Fix linting issues
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

Fixing small mistyping (#176)
  content/en/users/cloud-compute/dynamic-dns/_index.md
Owners: @enolfc

[Check-in] Add description for SSH Public Key attribute (#175)
  content/en/providers/check-in/sp/_index.md
Owners: @vardizzo-lab

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Operations
content/*/internal/ @gwarf @paolini78

# Providers
content/*/providers/ @gwarf @paolini78

# Users
content/*/users/ @enolfc @glarocca @andrea-manzi @gwarf

# DataHub
content/*/*/datahub/ @andrea-manzi

# Data Transfer
content/*/*/data-transfer/ @andrea-manzi

# Online Storage
content/*/*/online-storage/ @andrea-manzi

# FedCloud
content/*/*/cloud-*/ @enolfc

# Notebooks
content/*/*/notebooks/ @enolfc @andrea-manzi

# Aod
content/*/*/applications-on-demand/ @glarocca

# Training
content/*/users/training/ @glarocca

# HTC
content/*/*/high-throughput-compute/ @CatalinCondurache

# Workload Manager
content/*/*/workload-manager/ @CatalinCondurache

# Check-in 
content/*/*/check-in/ @vardizzo-lab
